//------------------------------------------------------------------------------
// media query 
//------------------------------------------------------------------------------
$mobile-3inch: 360px;
$mobile-5inch: 590px;
$tablet-7inch: 768px;
$tablet-10inch: 990px;
$desktop: 1200px;
$desktop-13inch: 1600px;
$tv: 1920px;



//------------------------------------------------------------------------------
// 手機版
//------------------------------------------------------------------------------

// 小於 360 px 螢幕
@mixin mobile-3inch {
  @media screen and (max-width: $mobile-3inch) {
	   @content;
 }
}

// 大於 590 px 螢幕
@mixin mobile-5inch {
  @media screen and (min-width: $mobile-5inch) {
	   @content;
 }
}


//------------------------------------------------------------------------------
// 平板版
//------------------------------------------------------------------------------

// 大於 768 px 螢幕
@mixin tablet-7inch {
  @media screen and (min-width: $tablet-7inch + 1) {
	   @content;
 }
}

// 小於 767 px 螢幕
@mixin tablet-7inch-max {
  @media screen and (max-width: $tablet-7inch) {
	   @content;
 }
}

// 大於 990 px 螢幕
@mixin tablet-10inch {
  @media screen and (min-width: $tablet-10inch) {
	   @content;
 }
}


//------------------------------------------------------------------------------
// 桌面版
//------------------------------------------------------------------------------

// 大於 1200 px 螢幕
@mixin desktop {
  @media screen and (min-width: $desktop) {
	   @content;
 }
}

// 小於 1200 px 螢幕
@mixin desktop-max {
  @media screen and (max-width: $desktop - 1) {
	   @content;
 }
}

// 大於 1440 px 螢幕
@mixin desktop-13inch {
  @media screen and (min-width: $desktop-13inch) {
	   @content;
 }
}


//------------------------------------------------------------------------------
// 電視版
//------------------------------------------------------------------------------

// 大於 1920 px 螢幕
@mixin tv {
  @media screen and (min-width: $tv) {
	   @content;
 }
}


//------------------------------------------------------------------------------
// 印刷版
//------------------------------------------------------------------------------
@mixin print {
  @media print {
	   @content;
 }
}