@charset "UTF-8";
[class*='scale'] {
  overflow: hidden; }

.img,
img {
  max-width: 100%;
  vertical-align: middle;
  position: relative;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  top: 0;
  height: 0;
  padding-bottom: 100%; }

.webmenu_banner > article hgroup h1, .webmenu_overview_video > figure a[data-type="button"],
.webmenu_banner > article hgroup h1 > *,
.webmenu_overview_video > figure a[data-type="button"] > * {
  white-space: nowrap;
  text-indent: -99999px;
  overflow: hidden;
  height: 0; }

* {
  font: "Helvetica", "Arial", "微軟正黑體" ,"Microsoft JhengHei",sans-serif;
  font-family: "Helvetica", "Arial", "微軟正黑體" ,"Microsoft JhengHei",sans-serif;
  word-break: break-all; }

body {
  font-size: 100%; }

p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem; }
  @media screen and (min-width: 769px) {
    p {
      font-size: 16px;
      font-size: 1rem;
      line-height: 24px;
      line-height: 1.5rem; } }

h1 {
  font-size: 44px;
  font-size: 2.75rem;
  line-height: 66px;
  line-height: 4.125rem; }
  @media screen and (min-width: 769px) {
    h1 {
      font-size: 56px;
      font-size: 3.5rem;
      line-height: 84px;
      line-height: 5.25rem; } }
  @media screen and (min-width: 1200px) {
    h1 {
      font-size: 64px;
      font-size: 4rem;
      line-height: 96px;
      line-height: 6rem; } }

h2 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 54px;
  line-height: 3.375rem; }
  @media screen and (min-width: 769px) {
    h2 {
      font-size: 44px;
      font-size: 2.75rem;
      line-height: 66px;
      line-height: 4.125rem; } }

h3 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem; }
  @media screen and (min-width: 769px) {
    h3 {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 36px;
      line-height: 2.25rem; } }
  @media screen and (min-width: 1200px) {
    h3 {
      font-size: 36px;
      font-size: 2.25rem;
      line-height: 54px;
      line-height: 3.375rem; } }

h4 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem; }
  @media screen and (min-width: 769px) {
    h4 {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 24px;
      line-height: 1.5rem; } }
  @media screen and (min-width: 1200px) {
    h4 {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 36px;
      line-height: 2.25rem; } }

h5 {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 21px;
  line-height: 1.3125rem; }
  @media screen and (min-width: 769px) {
    h5 {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 30px;
      line-height: 1.875rem; } }

h6 {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 20px;
  line-height: 1.25rem; }
  @media screen and (min-width: 769px) {
    h6 {
      font-size: 15px;
      font-size: 0.9375rem;
      line-height: 22px;
      line-height: 1.375rem; } }

small {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 18px;
  line-height: 1.125rem; }

@font-face {
  font-family: "bccFont";
  src: url("../../fonts/bccFont.eot");
  src: url("../../fonts/bccFont.eot?#iefix") format("eot"), url("../../fonts/bccFont.woff") format("woff"), url("../../fonts/bccFont.ttf") format("truetype"), url("../../fonts/bccFont.svg#bccFont") format("svg"); }

.bcc-add:before, .bcc-back:before, .bcc-battery:before, .bcc-blog:before, .bcc-booking:before, .bcc-call:before, .bcc-chain:before, .bcc-chart:before, .bcc-check:before, .bcc-close:before, .bcc-cloud:before, .bcc-coupon:before, .bcc-cpu:before, .bcc-date:before, .bcc-down:before, .bcc-download:before, .bcc-email:before, .bcc-expan:before, .bcc-fb:before, .bcc-fix:before, .bcc-guide:before, .bcc-help:before, .bcc-internet:before, .bcc-inventory:before, .bcc-invoice:before, .bcc-lang:before, .bcc-language:before, .bcc-list:before, .bcc-mail:before, .bcc-maintain:before, .bcc-map:before, .bcc-member:before, .bcc-money:before, .bcc-nav:before, .bcc-new:before, .bcc-next:before, .bcc-next2:before, .bcc-offline:before, .bcc-payment:before, .bcc-pos:before, .bcc-printer:before, .bcc-purchase:before, .bcc-report:before, .bcc-right:before, .bcc-sale:before, .bcc-scan:before, .bcc-screen:before, .bcc-search:before, .bcc-service:before, .bcc-speaker:before, .bcc-sturdy:before, .bcc-table:before, .bcc-taste:before, .bcc-time:before, .bcc-time2:before, .bcc-up:before, .bcc-webmenu:before, .bcc-wholesale:before, .bcc-youtube:before {
  font-family: "bccFont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none; }

.bcc-add:before {
  content: ""; }

.bcc-back:before {
  content: ""; }

.bcc-battery:before {
  content: ""; }

.bcc-blog:before {
  content: ""; }

.bcc-booking:before {
  content: ""; }

.bcc-call:before {
  content: ""; }

.bcc-chain:before {
  content: ""; }

.bcc-chart:before {
  content: ""; }

.bcc-check:before {
  content: ""; }

.bcc-close:before {
  content: ""; }

.bcc-cloud:before {
  content: ""; }

.bcc-coupon:before {
  content: ""; }

.bcc-cpu:before {
  content: ""; }

.bcc-date:before {
  content: ""; }

.bcc-down:before {
  content: ""; }

.bcc-download:before {
  content: ""; }

.bcc-email:before {
  content: ""; }

.bcc-expan:before {
  content: ""; }

.bcc-fb:before {
  content: ""; }

.bcc-fix:before {
  content: ""; }

.bcc-guide:before {
  content: ""; }

.bcc-help:before {
  content: ""; }

.bcc-internet:before {
  content: ""; }

.bcc-inventory:before {
  content: ""; }

.bcc-invoice:before {
  content: ""; }

.bcc-lang:before {
  content: ""; }

.bcc-language:before {
  content: ""; }

.bcc-list:before {
  content: ""; }

.bcc-mail:before {
  content: ""; }

.bcc-maintain:before {
  content: ""; }

.bcc-map:before {
  content: ""; }

.bcc-member:before {
  content: ""; }

.bcc-money:before {
  content: ""; }

.bcc-nav:before {
  content: ""; }

.bcc-new:before {
  content: ""; }

.bcc-next:before {
  content: ""; }

.bcc-next2:before {
  content: ""; }

.bcc-offline:before {
  content: ""; }

.bcc-payment:before {
  content: ""; }

.bcc-pos:before {
  content: ""; }

.bcc-printer:before {
  content: ""; }

.bcc-purchase:before {
  content: ""; }

.bcc-report:before {
  content: ""; }

.bcc-right:before {
  content: ""; }

.bcc-sale:before {
  content: ""; }

.bcc-scan:before {
  content: ""; }

.bcc-screen:before {
  content: ""; }

.bcc-search:before {
  content: ""; }

.bcc-service:before {
  content: ""; }

.bcc-speaker:before {
  content: ""; }

.bcc-sturdy:before {
  content: ""; }

.bcc-table:before {
  content: ""; }

.bcc-taste:before {
  content: ""; }

.bcc-time:before {
  content: ""; }

.bcc-time2:before {
  content: ""; }

.bcc-up:before {
  content: ""; }

.bcc-webmenu:before {
  content: ""; }

.bcc-wholesale:before {
  content: ""; }

.bcc-youtube:before {
  content: ""; }

section {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /* 章節寬度 */
  margin: 0 auto;
  /* 章節水平置中 */
  text-align: center; }

ul, ol {
  letter-spacing: -0.31em;
  /* webkit: collapse white-space between units */
  *letter-spacing: normal;
  /* reset IE < 8 */
  *word-spacing: -0.43em;
  /* IE < 8 && gecko: collapse white-space between units */ }
  @media screen and (min-width: 769px) {
    ul li, ol li {
      display: inline-block; } }

ul, ol, picture, figure {
  position: relative; }

picture {
  display: block;
  width: 100%;
  overflow: hidden; }

picture, blockquote {
  vertical-align: middle;
  text-align: center;
  letter-spacing: initial;
  word-spacing: initial; }

.webmenu_overview_video, .webmenu_overview_buy {
  display: none; }

button {
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 8px 12px;
  background-color: #36c;
  color: #fff;
  opacity: 1;
  margin: 10px 0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

button:hover {
  opacity: .9; }

.webmenu_overview_buy a[data-type="button"] {
  background-color: #e70012;
  color: white;
  padding: 10px 80px 10px 60px;
  border: solid 1px #3366cc;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  transition: all 0.1s ease-in;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 21px;
  line-height: 1.3125rem;
  letter-spacing: 1.5px; }
  .webmenu_overview_buy a[data-type="button"]:after {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg fill='white' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='200px' height='200px' viewBox='0 0 200 200' enable-background='new 0 0 200 200' xml:space='preserve'%3E%3Cpolygon points='60.371,189.44 49.981,179.054 129.249,99.786 49.981,20.518 60.371,10.131 150.022,99.786 '/%3E%3C/svg%3E");
    width: 16px;
    padding-bottom: 16px;
    content: " ";
    position: absolute;
    right: 20px;
    top: 14px; }
  .webmenu_overview_buy a:hover[data-type="button"] {
    opacity: 0.9; }
  @media screen and (min-width: 769px) {
    .webmenu_overview_buy a[data-type="button"] {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 30px;
      line-height: 1.875rem; } }

.webmenu_banner {
  background-size: auto, cover;
  background-position: center bottom, center center;
  background-repeat: no-repeat, no-repeat;
  text-align: center; }
  @media screen and (min-width: 1200px) {
    .webmenu_banner {
      background-position: center 130%, center center; } }
  @media screen and (max-width: 768px) {
    .webmenu_banner {
      background-size: 200%, cover; } }
  .webmenu_banner > article {
    max-width: 1200px;
    margin: 0 auto;
    float: none;
    padding-left: 15px;
    padding-right: 15px;
    *zoom: 1; }
    .webmenu_banner > article:after {
      clear: both;
      content: "";
      display: table; }
    .webmenu_banner > article:before {
      content: "";
      display: table; }
    @media screen and (max-width: 768px) {
      .webmenu_banner > article {
        padding-left: 10px;
        padding-right: 10px; } }
    @media screen and (min-width: 769px) {
      .webmenu_banner > article {
        padding-top: 80px;
        padding-bottom: 80px; } }
    @media screen and (max-width: 768px) {
      .webmenu_banner > article {
        padding-top: 30px;
        padding-bottom: 30px; } }
    .webmenu_banner > article hgroup img {
      top: 0;
      height: 0;
      padding-bottom: 25%; }
      @media screen and (min-width: 769px) {
        .webmenu_banner > article hgroup img {
          top: 0;
          height: 0;
          padding-bottom: 10%; } }
    .webmenu_banner > article hgroup h3 {
      font-weight: bold; }
    .webmenu_banner > article hgroup h5 {
      opacity: 0.6; }
    .webmenu_banner > article hgroup em {
      font-size: 36px;
      font-size: 2.25rem;
      line-height: 54px;
      line-height: 3.375rem;
      font-size: 150%;
      font-family: sans-serif;
      font-weight: bold; }
      @media screen and (min-width: 769px) {
        .webmenu_banner > article hgroup em {
          font-size: 44px;
          font-size: 2.75rem;
          line-height: 66px;
          line-height: 4.125rem; } }

.webmenu_banner ol {
  letter-spacing: -0.31em;
  /* webkit: collapse white-space between units */
  *letter-spacing: normal;
  /* reset IE < 8 */
  *word-spacing: -0.43em;
  /* IE < 8 && gecko: collapse white-space between units */
  max-width: 480px;
  margin: 0 auto; }
  .webmenu_banner ol > * {
    display: inline-block;
    box-sizing: border-box;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    width: 25%; }
  @media screen and (max-width: 768px) {
    .webmenu_banner ol {
      max-width: 250px; } }
  .webmenu_banner ol figure {
    padding: 15% 25%; }
    @media screen and (max-width: 768px) {
      .webmenu_banner ol figure {
        padding: 14% 0; } }
    @media screen and (max-width: 768px) {
      .webmenu_banner ol figure img {
        top: 0;
        height: 0;
        padding-bottom: 50%; } }
    .webmenu_banner ol figure h6 {
      padding-top: 5px;
      font-weight: 300; }

.webmenu_overview_order ol li {
  margin: 25px 0; }
  @media screen and (min-width: 769px) {
    .webmenu_overview_order ol li img {
      width: 150px;
      padding-bottom: 150px; } }
  @media screen and (max-width: 768px) {
    .webmenu_overview_order ol li img {
      width: 120px;
      padding-bottom: 120px; } }
  @media screen and (max-width: 768px) {
    .webmenu_overview_order ol li {
      margin: 15px 0; } }
  .webmenu_overview_order ol li h5 {
    font-weight: bold;
    margin: 10px 0; }
  .webmenu_overview_order ol li p {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 20px;
    line-height: 1.25rem;
    margin: 10px 0; }
    @media screen and (min-width: 769px) {
      .webmenu_overview_order ol li p {
        font-size: 15px;
        font-size: 0.9375rem;
        line-height: 22px;
        line-height: 1.375rem; } }

.select-style {
  width: 100%;
  height: 50px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-top: 10px; }
  .select-style:after {
    position: absolute;
    content: "";
    top: 22px;
    right: 12px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #bbb transparent transparent transparent; }
  .select-style select {
    -webkit-appearance: none;
    line-height: 50px;
    padding: 0 10px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    width: 100%;
    color: #032fa2; }

.webmenu_banner {
  background-image: url("../../image/_global/cloud-bg.png"), url("../../image/_global/bg-pomelo.jpg");
  color: white; }
  .webmenu_banner > article {
    padding-bottom: 0; }
    .webmenu_banner > article > hgroup img {
      background-image: url("../../image/software/webmenu/title.png"); }
    .webmenu_banner > article > figure img {
      background-image: url("../../image/software/webmenu/banner-item.png");
      background-position: right bottom; }
      @media screen and (min-width: 769px) {
        .webmenu_banner > article > figure img {
          top: 0;
          height: 0;
          padding-bottom: 33.333%; } }
      @media screen and (max-width: 768px) {
        .webmenu_banner > article > figure img {
          top: 0;
          height: 0;
          padding-bottom: 75%; } }
  .webmenu_banner ol li:nth-child(1) span img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg fill='white' version='1.1' id='圖層_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='200px' height='200px' viewBox='0 0 200 200' enable-background='new 0 0 200 200' xml:space='preserve'%3E%3Cpath d='M87.027,19H23.746C21.125,19,19,21.125,19,23.746v63.281c0,2.621,2.125,4.746,4.746,4.746h63.281 c2.621,0,4.746-2.125,4.746-4.746V23.746C91.773,21.125,89.648,19,87.027,19 M82.281,82.281H28.492V28.492h53.789V82.281z'/%3E%3Cpath d='M64.879,41.148H45.895c-2.621,0-4.746,2.125-4.746,4.746v18.984c0,2.621,2.125,4.746,4.746,4.746h18.984 c2.621,0,4.746-2.125,4.746-4.746V45.895C69.625,43.273,67.5,41.148,64.879,41.148 M60.133,60.133h-9.492v-9.492h9.492V60.133z'/%3E%3Cpath d='M176.254,19h-63.281c-2.621,0-4.746,2.125-4.746,4.746v63.281c0,2.621,2.125,4.746,4.746,4.746h63.281 c2.621,0,4.746-2.125,4.746-4.746V23.746C181,21.125,178.875,19,176.254,19 M171.508,82.281h-53.789V28.492h53.789V82.281z'/%3E%3Cpath d='M154.105,41.148h-18.984c-2.621,0-4.746,2.125-4.746,4.746v18.984c0,2.621,2.125,4.746,4.746,4.746h18.984 c2.621,0,4.746-2.125,4.746-4.746V45.895C158.852,43.273,156.727,41.148,154.105,41.148 M149.359,60.133h-9.492v-9.492h9.492V60.133 z'/%3E%3Cpath d='M87.027,108.227H23.746c-2.621,0-4.746,2.125-4.746,4.746v63.281c0,2.621,2.125,4.746,4.746,4.746h63.281 c2.621,0,4.746-2.125,4.746-4.746v-63.281C91.773,110.352,89.648,108.227,87.027,108.227 M82.281,171.508H28.492v-53.789h53.789 V171.508z'/%3E%3Cpath d='M64.879,130.375H45.895c-2.621,0-4.746,2.125-4.746,4.746v18.984c0,2.621,2.125,4.746,4.746,4.746h18.984 c2.621,0,4.746-2.125,4.746-4.746v-18.984C69.625,132.5,67.5,130.375,64.879,130.375 M60.133,149.359h-9.492v-9.492h9.492V149.359z' /%3E%3Cpath d='M176.254,152.725h-26.895v-17.604c0-2.621-2.125-4.746-4.746-4.746s-4.746,2.125-4.746,4.746v22.35 c0,2.622,2.125,4.746,4.746,4.746h26.895v9.291h-26.895c-2.621,0-4.746,2.125-4.746,4.746s2.125,4.746,4.746,4.746h31.641 c2.621,0,4.746-2.125,4.746-4.746v-18.783C181,154.85,178.875,152.725,176.254,152.725'/%3E%3Cpath d='M176.254,108.227c-2.621,0-4.746,2.125-4.746,4.746v22.148c0,2.621,2.125,4.746,4.746,4.746 s4.746-2.125,4.746-4.746v-22.148C181,110.352,178.875,108.227,176.254,108.227'/%3E%3Cpath d='M135.121,108.227h-22.148c-2.621,0-4.746,2.125-4.746,4.746v22.148c0,2.621,2.125,4.746,4.746,4.746 s4.746-2.125,4.746-4.746v-17.402h17.402c2.621,0,4.746-2.125,4.746-4.746S137.742,108.227,135.121,108.227'/%3E%3Cpath d='M112.973,152.725c-2.621,0-4.746,2.125-4.746,4.746v18.783c0,2.621,2.125,4.746,4.746,4.746 s4.746-2.125,4.746-4.746v-18.783C117.719,154.85,115.594,152.725,112.973,152.725'/%3E%3C/svg%3E"); }
  .webmenu_banner ol li:nth-child(2) span img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg fill='white' version='1.1' id='圖層_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' style='enable-background:new 0 0 200 200;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath class='st0' d='M92.6,18.7h-0.4c-1.5,0-2.6,1.2-2.6,2.6c0,1.5,1.2,2.6,2.6,2.6h0.4c1.5,0,2.6-1.2,2.6-2.6 S94.1,18.7,92.6,18.7z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath class='st0' d='M106.7,18.7h-0.4c-1.5,0-2.6,1.2-2.6,2.6c0,1.5,1.2,2.6,2.6,2.6h0.4c1.5,0,2.6-1.2,2.6-2.6 S108.2,18.7,106.7,18.7z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath class='st0' d='M78.5,18.7h-0.4c-1.5,0-2.6,1.2-2.6,2.6c0,1.5,1.2,2.6,2.6,2.6h0.4c1.5,0,2.6-1.2,2.6-2.6S80,18.7,78.5,18.7 z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath class='st0' d='M97.9,173.6H86.6c-1.5,0-2.6,1.2-2.6,2.6c0,1.5,1.2,2.6,2.6,2.6h11.3c1.5,0,2.6-1.2,2.6-2.6 C100.5,174.8,99.4,173.6,97.9,173.6z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath class='st0' d='M159.9,69c1.5,0,2.6-1.2,2.6-2.6V52.3c0-6.1-5-11.1-11.1-11.1h-5.8V24.1c0-7.7-6.2-13.9-13.9-13.9H52.8 c-7.7,0-13.9,6.2-13.9,13.9v152.2c0,7.7,6.2,13.9,13.9,13.9h78.9c7.7,0,13.9-6.2,13.9-13.9v-50.9h5.8c6.1,0,11.1-5,11.1-11.1v-35 c0-1.5-1.2-2.6-2.6-2.6c-1.5,0-2.6,1.2-2.6,2.6v35c0,3.2-2.6,5.8-5.8,5.8H95.1c-0.6,0-1.2,0.2-1.7,0.6L78,133.9V52.3 c0-3.2,2.6-5.8,5.8-5.8h67.6c3.2,0,5.8,2.6,5.8,5.8v14.1C157.2,67.8,158.4,69,159.9,69z M140.3,176.3c0,4.8-3.9,8.6-8.6,8.6H52.8 c-4.8,0-8.6-3.9-8.6-8.6v-8.6h96.2V176.3z M140.3,41.2H83.8c-6.1,0-11.1,5-11.1,11.1v87.4c0,2.2,2.7,3.4,4.4,2l19-16.3h44.3v37 H44.2v-130h96.2V41.2z M140.3,27.1H44.2v-3c0-4.8,3.9-8.6,8.6-8.6h78.9c4.8,0,8.6,3.9,8.6,8.6V27.1z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath class='st0' d='M138.7,83.5l12-12c1-1,1-2.7,0-3.7c-1-1-2.7-1-3.7,0l-8.1,8.1l-2.2-2.2l8.1-8.1c1-1,1-2.7,0-3.7 c-1-1-2.7-1-3.7,0l-8.1,8.1l-2.2-2.2l8.1-8.1c1-1,1-2.7,0-3.7c-1-1-2.7-1-3.7,0l-10,10c0,0,0,0,0,0l0,0l-2,2 c-2.2,2.2-2.9,5.3-2.1,8.1l-3,3l-5.8-5.4c0.2-1.2,0.2-2.4,0-3.6c-0.5-3.2-2.1-6.4-4.6-8.9c-5.4-5.4-13.4-6.3-17.7-2 c-4.3,4.3-3.4,12.3,2,17.7c3.1,3.1,7,4.7,10.7,4.7c0.6,0,1.2-0.1,1.8-0.2l5.4,5.8L97.6,99.2c-2.7,2.7-2.7,7,0,9.7 c2.6,2.6,7.1,2.6,9.7,0l11.8-11.8l10.5,11.3c2.6,2.7,7.1,2.7,9.8,0.1c2.7-2.7,2.7-7,0-9.7c0,0,0,0-0.1-0.1L128,88.3l2.6-2.6 C133.4,86.4,136.6,85.7,138.7,83.5z M105.8,75c-2.2,2.2-6.9,1.3-10.2-2c-3.3-3.3-4.2-8-2-10.2c0.8-0.8,2-1.2,3.3-1.2 c2.2,0,4.8,1.1,6.9,3.2v0c1.7,1.7,2.8,3.8,3.1,5.9C107.1,71.7,107.1,73.6,105.8,75z M109.3,78.9c0.1-0.1,0.1-0.1,0.2-0.2 c0.1-0.1,0.1-0.1,0.2-0.2l4.5,4.2l-0.7,0.7L109.3,78.9z M135.7,102.6c0.6,0.6,0.6,1.6,0,2.2s-1.6,0.6-2.2,0l-10.6-11.4l1.4-1.4 L135.7,102.6z M128.1,80.7l-24.5,24.5c-0.6,0.6-1.6,0.6-2.2,0.1c-0.7-0.6-0.7-1.7-0.1-2.3l24.5-24.5c0.9-0.9,1-2.2,0.4-3.2 c-0.7-1.2-0.5-2.7,0.5-3.6l0.1-0.1l8.2,8.2l-0.1,0.1c-1,1-2.5,1.2-3.6,0.5C130.3,79.6,129,79.8,128.1,80.7z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
  .webmenu_banner ol li:nth-child(3) span img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg fill='white' version='1.1' id='圖層_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' style='enable-background:new 0 0 200 200;' xml:space='preserve'%3E%3Cg%3E%3Cpath class='st0' d='M67.8,126.1l0-7.6l-0.7-0.1c-10.1-1-17.8-5.4-19.9-11.2l8.4-2.1c1.4,1.8,5.6,3.9,11.3,4.7l0.9,0.1V96.8 l-0.6-0.1c-7.8-1.3-12.2-3.2-14.2-4.2l-0.3-0.2c-4-2.7-6.1-6.1-6.1-9.8c0-7.4,8.5-13.3,20.6-14.6l0.7-0.1v-7.4h8.5l0,7.4l0.7,0.1 c9.1,1,16.2,4.8,18.8,9.9l-8.2,2.9c-1.6-1.6-5.2-3.5-10.4-4.3l-0.9-0.1l0,13.8l0.6,0.1c5.6,1,10.2,2.3,13.3,3.8 c1.4,0.7,2.4,1.3,3.2,2c0.3,0.3,0.5,0.5,0.8,0.8c1.9,2.1,2.8,4.5,2.8,7c0,7.2-8.2,13.2-20,14.5l-0.7,0.1l0,7.6L67.8,126.1z M76.3,110l0.9-0.1c6.7-1,11.3-3.9,11.3-5.9c0-2-4.6-4.9-11.3-5.9l-0.9-0.1V110z M66.9,76.5c-7.4,1-11.9,4.1-11.9,6 c0,1.8,4.5,5,11.9,6l0.9,0.1V76.4L66.9,76.5z'/%3E%3Cg%3E%3Cpath class='st0' d='M109.3,10H34.2c-7.9,0-14.3,6.4-14.3,14.3v151.4c0,7.9,6.4,14.3,14.3,14.3h75.1c7.9,0,14.3-6.4,14.3-14.3 V24.3C123.6,16.4,117.2,10,109.3,10z M113.6,143.2H29.9V44.9h83.7V143.2z M34.2,20h75.1c2.3,0,4.3,2,4.3,4.3v10.6H29.9V24.3 C29.9,22,31.8,20,34.2,20z M109.3,180H34.2c-2.3,0-4.3-2-4.3-4.3v-22.5h83.7v22.5C113.6,178,111.6,180,109.3,180z'/%3E%3Ccircle class='st0' cx='71.7' cy='166' r='6.4'/%3E%3C/g%3E%3Cpath class='st0' d='M170.2,70.3h-40.9v7.8h40.9c1.1,0,2.1,1,2.1,2.1v9.9h-43v7.8h43v27.2c0,1.1-1,2.1-2.1,2.1h-40.9v7.8h40.9 c5.5,0,9.9-4.4,9.9-9.9V80.2C180.1,74.8,175.7,70.3,170.2,70.3z'/%3E%3C/g%3E%3C/svg%3E"); }
  .webmenu_banner ol li:nth-child(4) span img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg fill='white' version='1.1' id='圖層_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' style='enable-background:new 0 0 200 200;' xml:space='preserve'%3E%3Cg%3E%3Cpath class='st0' d='M143.7,77.2c0-37.1-30.2-67.2-67.2-67.2C39.4,9.9,9.2,40.1,9.2,77.2s30.2,67.2,67.2,67.2 C113.5,144.4,143.7,114.2,143.7,77.2z M76.4,137.7c-33.4,0-60.5-27.1-60.5-60.5s27.2-60.5,60.5-60.5c33.4,0,60.5,27.1,60.5,60.5 S109.8,137.7,76.4,137.7z'/%3E%3Cpath class='st0' d='M64.5,31.6c-20.7,5.4-35.1,24.1-35.1,45.5c0,8.3,2.2,16.4,6.3,23.5c0.6,1.1,1.8,1.7,2.9,1.7 c0.6,0,1.1-0.1,1.7-0.5c1.6-0.9,2.2-3,1.2-4.6c-3.5-6.1-5.4-13.1-5.4-20.2c0-18.3,12.4-34.4,30.1-39c1.8-0.5,2.9-2.3,2.4-4.1 C68.1,32.2,66.2,31.2,64.5,31.6z'/%3E%3Cpath class='st0' d='M185.5,163.9l-38.6-38.6c-3.8-3.8-10.5-3.8-14.3,0l-7.1,7.1c-3.9,3.9-3.9,10.3,0,14.3l38.6,38.6 c2.3,2.3,5.9,3.7,9.6,3.7c1.8,0,3.6-0.4,5.1-1l0.6-0.3l8.6-8.6l0.3-0.6C190.2,173.9,189.1,167.5,185.5,163.9z M182.2,175.3 l-6.7,6.7c-2.1,0.6-5.2-0.1-6.6-1.5l-38.6-38.6c-1.3-1.3-1.3-3.4,0-4.8l7.1-7.1c0.6-0.6,1.5-1,2.4-1c0.9,0,1.7,0.3,2.4,1l38.6,38.6 C182.2,170.2,182.9,173.2,182.2,175.3z'/%3E%3C/g%3E%3C/svg%3E"); }

.webmenu_overview_order {
  display: none;
  *zoom: 1;
  margin: 0 auto 10px;
  background-color: #f8f8f8; }
  .webmenu_overview_order:after {
    clear: both;
    content: "";
    display: table; }
  .webmenu_overview_order:before {
    content: "";
    display: table; }
  .webmenu_overview_order > article,
  .webmenu_overview_order figure > article {
    max-width: 1200px;
    margin: 0 auto;
    float: none;
    padding-left: 15px;
    padding-right: 15px;
    *zoom: 1; }
    .webmenu_overview_order > article:after,
    .webmenu_overview_order figure > article:after {
      clear: both;
      content: "";
      display: table; }
    .webmenu_overview_order > article:before,
    .webmenu_overview_order figure > article:before {
      content: "";
      display: table; }
    @media screen and (max-width: 768px) {
      .webmenu_overview_order > article,
      .webmenu_overview_order figure > article {
        padding-left: 10px;
        padding-right: 10px; } }
    @media screen and (min-width: 769px) {
      .webmenu_overview_order > article,
      .webmenu_overview_order figure > article {
        padding-top: 80px;
        padding-bottom: 80px; } }
    @media screen and (max-width: 768px) {
      .webmenu_overview_order > article,
      .webmenu_overview_order figure > article {
        padding-top: 60px;
        padding-bottom: 60px; } }
  .webmenu_overview_order hgroup {
    margin-bottom: 60px; }
    @media screen and (max-width: 768px) {
      .webmenu_overview_order hgroup {
        margin-bottom: 35px; } }
    .webmenu_overview_order hgroup p {
      margin: 15px 0; }
    .webmenu_overview_order hgroup em {
      background-color: white;
      border-radius: 20px;
      padding: 5px 25px;
      font-style: normal;
      font-weight: bold;
      box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.5);
      margin-bottom: 20px; }
  .webmenu_overview_order ol {
    margin: 0;
    letter-spacing: -0.31em;
    /* webkit: collapse white-space between units */
    *letter-spacing: normal;
    /* reset IE < 8 */
    *word-spacing: -0.43em;
    /* IE < 8 && gecko: collapse white-space between units */
    letter-spacing: -0.31em;
    /* webkit: collapse white-space between units */
    *letter-spacing: normal;
    /* reset IE < 8 */
    *word-spacing: -0.43em;
    /* IE < 8 && gecko: collapse white-space between units */ }
    @media screen and (min-width: 769px) {
      .webmenu_overview_order ol > * {
        display: inline-block;
        box-sizing: border-box;
        zoom: 1;
        *display: inline;
        letter-spacing: normal;
        word-spacing: normal;
        width: 25%; } }
    @media screen and (max-width: 768px) {
      .webmenu_overview_order ol > * {
        display: inline-block;
        box-sizing: border-box;
        zoom: 1;
        *display: inline;
        letter-spacing: normal;
        word-spacing: normal;
        width: 50%; } }
    .webmenu_overview_order ol li:nth-child(1) img {
      background-image: url("../../image/software/webmenu/overview-order-1.png"); }
    .webmenu_overview_order ol li:nth-child(2) img {
      background-image: url("../../image/software/webmenu/overview-order-2.png"); }
    .webmenu_overview_order ol li:nth-child(3) img {
      background-image: url("../../image/software/webmenu/overview-order-3.png"); }
    .webmenu_overview_order ol li:nth-child(4) img {
      background-image: url("../../image/software/webmenu/overview-order-4.png"); }
  .webmenu_overview_order h4 {
    color: #888888;
    font-weight: normal; }

.webmenu_overview_apply {
  *zoom: 1;
  margin: 0 auto 10px;
  background-color: #fbd4d2; }
  .webmenu_overview_apply:after {
    clear: both;
    content: "";
    display: table; }
  .webmenu_overview_apply:before {
    content: "";
    display: table; }
  .webmenu_overview_apply > article,
  .webmenu_overview_apply figure > article {
    max-width: 1200px;
    margin: 0 auto;
    float: none;
    padding-left: 15px;
    padding-right: 15px;
    *zoom: 1; }
    .webmenu_overview_apply > article:after,
    .webmenu_overview_apply figure > article:after {
      clear: both;
      content: "";
      display: table; }
    .webmenu_overview_apply > article:before,
    .webmenu_overview_apply figure > article:before {
      content: "";
      display: table; }
    @media screen and (max-width: 768px) {
      .webmenu_overview_apply > article,
      .webmenu_overview_apply figure > article {
        padding-left: 10px;
        padding-right: 10px; } }
    @media screen and (min-width: 769px) {
      .webmenu_overview_apply > article,
      .webmenu_overview_apply figure > article {
        padding-top: 80px;
        padding-bottom: 80px; } }
    @media screen and (max-width: 768px) {
      .webmenu_overview_apply > article,
      .webmenu_overview_apply figure > article {
        padding-top: 60px;
        padding-bottom: 60px; } }
  .webmenu_overview_apply hgroup {
    margin-bottom: 60px; }
    @media screen and (max-width: 768px) {
      .webmenu_overview_apply hgroup {
        margin-bottom: 35px; } }
    .webmenu_overview_apply hgroup p {
      margin: 15px 0; }
    .webmenu_overview_apply hgroup em {
      background-color: white;
      border-radius: 20px;
      padding: 5px 25px;
      font-style: normal;
      font-weight: bold;
      box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.5);
      margin-bottom: 20px; }
  .webmenu_overview_apply ol {
    letter-spacing: -0.31em;
    /* webkit: collapse white-space between units */
    *letter-spacing: normal;
    /* reset IE < 8 */
    *word-spacing: -0.43em;
    /* IE < 8 && gecko: collapse white-space between units */
    letter-spacing: -0.31em;
    /* webkit: collapse white-space between units */
    *letter-spacing: normal;
    /* reset IE < 8 */
    *word-spacing: -0.43em;
    /* IE < 8 && gecko: collapse white-space between units */ }
    @media screen and (min-width: 769px) {
      .webmenu_overview_apply ol > * {
        display: inline-block;
        box-sizing: border-box;
        zoom: 1;
        *display: inline;
        letter-spacing: normal;
        word-spacing: normal;
        width: 50%; } }
    @media screen and (max-width: 768px) {
      .webmenu_overview_apply ol > * {
        display: inline-block;
        box-sizing: border-box;
        zoom: 1;
        *display: inline;
        letter-spacing: normal;
        word-spacing: normal;
        width: 100%; } }
    .webmenu_overview_apply ol li:nth-child(1) img {
      background-image: url("../../image/software/webmenu/overview-apply-1.png"); }
    .webmenu_overview_apply ol li:nth-child(2) img {
      background-image: url("../../image/software/webmenu/overview-apply-2.png"); }
    .webmenu_overview_apply ol li:nth-child(3) img {
      background-image: url("../../image/software/webmenu/overview-apply-3.png"); }
    .webmenu_overview_apply ol li:nth-child(4) img {
      background-image: url("../../image/software/webmenu/overview-apply-4.png"); }
    .webmenu_overview_apply ol li > figure {
      background-color: white;
      border: solid 15px #fbd4d2;
      padding: 15px;
      letter-spacing: -0.31em;
      /* webkit: collapse white-space between units */
      *letter-spacing: normal;
      /* reset IE < 8 */
      *word-spacing: -0.43em;
      /* IE < 8 && gecko: collapse white-space between units */ }
      @media screen and (max-width: 768px) {
        .webmenu_overview_apply ol li > figure {
          border-width: 7.5px;
          border-left: none;
          border-right: none; } }
      .webmenu_overview_apply ol li > figure figure:first-of-type {
        display: inline-block;
        box-sizing: border-box;
        zoom: 1;
        *display: inline;
        width: 33.33%; }
      .webmenu_overview_apply ol li > figure figure:last-of-type {
        display: inline-block;
        box-sizing: border-box;
        zoom: 1;
        *display: inline;
        width: 66.66%;
        text-align: left;
        padding-left: 5%; }
      .webmenu_overview_apply ol li > figure h4 {
        color: #ef858c; }

.webmenu_overview_ordersection {
  margin-bottom: 10px; }
  .webmenu_overview_ordersection > article,
  .webmenu_overview_ordersection figure > article {
    max-width: 1200px;
    margin: 0 auto;
    float: none;
    padding-left: 15px;
    padding-right: 15px;
    *zoom: 1; }
    .webmenu_overview_ordersection > article:after,
    .webmenu_overview_ordersection figure > article:after {
      clear: both;
      content: "";
      display: table; }
    .webmenu_overview_ordersection > article:before,
    .webmenu_overview_ordersection figure > article:before {
      content: "";
      display: table; }
    @media screen and (max-width: 768px) {
      .webmenu_overview_ordersection > article,
      .webmenu_overview_ordersection figure > article {
        padding-left: 10px;
        padding-right: 10px; } }
    @media screen and (min-width: 769px) {
      .webmenu_overview_ordersection > article,
      .webmenu_overview_ordersection figure > article {
        padding-top: 10%;
        padding-bottom: 10%; } }
    @media screen and (max-width: 768px) {
      .webmenu_overview_ordersection > article,
      .webmenu_overview_ordersection figure > article {
        padding-top: 20%;
        padding-bottom: 100%; } }
  .webmenu_overview_ordersection hgroup {
    margin-bottom: 60px; }
    @media screen and (max-width: 768px) {
      .webmenu_overview_ordersection hgroup {
        margin-bottom: 35px; } }
    .webmenu_overview_ordersection hgroup > * {
      white-space: nowrap;
      font-weight: bold; }
    .webmenu_overview_ordersection hgroup p {
      margin: 15px 0; }
    .webmenu_overview_ordersection hgroup em {
      background-color: white;
      border-radius: 20px;
      padding: 5px 25px;
      font-style: normal;
      font-weight: bold;
      box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.5);
      margin-bottom: 20px; }
  .webmenu_overview_ordersection > figure:not(:last-child) {
    margin-bottom: 10px; }
  .webmenu_overview_ordersection > figure:nth-child(1) {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover; }
    @media screen and (min-width: 769px) {
      .webmenu_overview_ordersection > figure:nth-child(1) {
        background-image: url("../../image/software/webmenu/overview-bg-order-1.jpg"); } }
    @media screen and (max-width: 768px) {
      .webmenu_overview_ordersection > figure:nth-child(1) {
        background-image: url("../../image/software/webmenu/overview-bg-order-1_mobile.jpg"); } }
  .webmenu_overview_ordersection > figure:nth-child(2) {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover; }
    @media screen and (min-width: 769px) {
      .webmenu_overview_ordersection > figure:nth-child(2) {
        background-image: url("../../image/software/webmenu/overview-bg-order-2.jpg"); } }
    @media screen and (max-width: 768px) {
      .webmenu_overview_ordersection > figure:nth-child(2) {
        background-image: url("../../image/software/webmenu/overview-bg-order-2_mobile.jpg"); } }
  .webmenu_overview_ordersection > figure:nth-child(3) {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover; }
    @media screen and (min-width: 769px) {
      .webmenu_overview_ordersection > figure:nth-child(3) {
        background-image: url("../../image/software/webmenu/overview-bg-order-3.jpg"); } }
    @media screen and (max-width: 768px) {
      .webmenu_overview_ordersection > figure:nth-child(3) {
        background-image: url("../../image/software/webmenu/overview-bg-order-3_mobile.jpg"); } }
  .webmenu_overview_ordersection > figure:nth-child(4) {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover; }
    @media screen and (min-width: 769px) {
      .webmenu_overview_ordersection > figure:nth-child(4) {
        background-image: url("../../image/software/webmenu/overview-bg-order-4.jpg"); } }
    @media screen and (max-width: 768px) {
      .webmenu_overview_ordersection > figure:nth-child(4) {
        background-image: url("../../image/software/webmenu/overview-bg-order-4_mobile.jpg"); } }
  .webmenu_overview_ordersection > figure:nth-child(5) {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover; }
    @media screen and (min-width: 769px) {
      .webmenu_overview_ordersection > figure:nth-child(5) {
        background-image: url("../../image/software/webmenu/overview-bg-order-5.jpg"); } }
    @media screen and (max-width: 768px) {
      .webmenu_overview_ordersection > figure:nth-child(5) {
        background-image: url("../../image/software/webmenu/overview-bg-order-5_mobile.jpg"); } }
  .webmenu_overview_ordersection > figure:nth-child(6) {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover; }
    @media screen and (min-width: 769px) {
      .webmenu_overview_ordersection > figure:nth-child(6) {
        background-image: url("../../image/software/webmenu/overview-bg-order-6.jpg"); } }
    @media screen and (max-width: 768px) {
      .webmenu_overview_ordersection > figure:nth-child(6) {
        background-image: url("../../image/software/webmenu/overview-bg-order-6_mobile.jpg"); } }
  @media screen and (min-width: 769px) {
    .webmenu_overview_ordersection > figure hgroup {
      display: inline-block;
      box-sizing: border-box;
      zoom: 1;
      *display: inline;
      width: 50%; } }
  @media screen and (min-width: 769px) {
    .webmenu_overview_ordersection > figure hgroup {
      float: left; } }
  .webmenu_overview_ordersection > figure hgroup h2 {
    margin: 10px 0; }
  .webmenu_overview_ordersection > figure hgroup button {
    line-height: 45px;
    width: 100%;
    color: white;
    background-color: #36c;
    border-radius: 4px;
    display: inline-block;
    margin: 0 auto;
    padding: 0 20px;
    letter-spacing: 1.5px;
    text-shadow: 0 -1px 0 rgba(100, 100, 100, 0.5);
    text-align: center !important;
    max-width: 200px;
    border: none; }
    .webmenu_overview_ordersection > figure hgroup button.active, .webmenu_overview_ordersection > figure hgroup button:hover {
      background-color: #3f6fcf;
      color: #ffffff; }
    .webmenu_overview_ordersection > figure hgroup button.disabled {
      background-color: #c2d1f0; }
  .webmenu_overview_ordersection > figure:nth-child(1), .webmenu_overview_ordersection > figure:nth-child(3) {
    color: white; }
  .webmenu_overview_ordersection > figure:nth-child(4) > article {
    padding-top: 5%;
    padding-bottom: 0; }
  .webmenu_overview_ordersection > figure:nth-child(4) hgroup {
    display: inline-block;
    box-sizing: border-box;
    zoom: 1;
    *display: inline;
    width: 100%; }
  .webmenu_overview_ordersection > figure:nth-child(4) img {
    background-image: url("../../image/software/webmenu/overview-order-4-img.png");
    top: 0;
    height: 0;
    padding-bottom: 50%; }
  .webmenu_overview_ordersection > figure:nth-child(6) > article {
    padding-top: 5%;
    padding-bottom: 0; }
  .webmenu_overview_ordersection > figure:nth-child(6) hgroup {
    display: inline-block;
    box-sizing: border-box;
    zoom: 1;
    *display: inline;
    width: 100%; }
  .webmenu_overview_ordersection > figure:nth-child(6) img {
    background-image: url("../../image/software/webmenu/overview-order-6-img.png");
    top: 0;
    height: 0;
    padding-bottom: 50%; }

.webmenu_overview_video {
  letter-spacing: -0.31em;
  /* webkit: collapse white-space between units */
  *letter-spacing: normal;
  /* reset IE < 8 */
  *word-spacing: -0.43em;
  /* IE < 8 && gecko: collapse white-space between units */
  letter-spacing: -0.31em;
  /* webkit: collapse white-space between units */
  *letter-spacing: normal;
  /* reset IE < 8 */
  *word-spacing: -0.43em;
  /* IE < 8 && gecko: collapse white-space between units */
  *zoom: 1;
  margin: 0 auto 10px;
  color: white; }
  @media screen and (min-width: 769px) {
    .webmenu_overview_video > * {
      display: inline-block;
      box-sizing: border-box;
      zoom: 1;
      *display: inline;
      letter-spacing: normal;
      word-spacing: normal;
      width: 33.33333%; } }
  @media screen and (max-width: 768px) {
    .webmenu_overview_video > * {
      display: inline-block;
      box-sizing: border-box;
      zoom: 1;
      *display: inline;
      letter-spacing: normal;
      word-spacing: normal;
      width: 100%; } }
  .webmenu_overview_video:after {
    clear: both;
    content: "";
    display: table; }
  .webmenu_overview_video:before {
    content: "";
    display: table; }
  .webmenu_overview_video > article,
  .webmenu_overview_video figure > article {
    max-width: 1200px;
    margin: 0 auto;
    float: none;
    padding-left: 15px;
    padding-right: 15px;
    *zoom: 1; }
    .webmenu_overview_video > article:after,
    .webmenu_overview_video figure > article:after {
      clear: both;
      content: "";
      display: table; }
    .webmenu_overview_video > article:before,
    .webmenu_overview_video figure > article:before {
      content: "";
      display: table; }
    @media screen and (max-width: 768px) {
      .webmenu_overview_video > article,
      .webmenu_overview_video figure > article {
        padding-left: 10px;
        padding-right: 10px; } }
    @media screen and (min-width: 769px) {
      .webmenu_overview_video > article,
      .webmenu_overview_video figure > article {
        padding-top: 80px;
        padding-bottom: 80px; } }
    @media screen and (max-width: 768px) {
      .webmenu_overview_video > article,
      .webmenu_overview_video figure > article {
        padding-top: 60px;
        padding-bottom: 60px; } }
  .webmenu_overview_video hgroup {
    margin-bottom: 60px; }
    @media screen and (max-width: 768px) {
      .webmenu_overview_video hgroup {
        margin-bottom: 35px; } }
    .webmenu_overview_video hgroup p {
      margin: 15px 0; }
    .webmenu_overview_video hgroup em {
      background-color: white;
      border-radius: 20px;
      padding: 5px 25px;
      font-style: normal;
      font-weight: bold;
      box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.5);
      margin-bottom: 20px; }
  .webmenu_overview_video > figure:nth-child(1) {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../image/software/webmenu/overview-video-1.jpg"); }
  .webmenu_overview_video > figure:nth-child(2) {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../image/software/webmenu/overview-video-2.jpg"); }
  .webmenu_overview_video > figure:nth-child(3) {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../image/software/webmenu/overview-video-3.jpg"); }
  .webmenu_overview_video > figure > article {
    padding-top: 30%;
    padding-bottom: 20%; }
  .webmenu_overview_video > figure a[data-type="button"] {
    display: block;
    position: absolute;
    width: 100%;
    height: 100% !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent !important;
    margin: 0;
    border: none;
    z-index: 0; }
    .webmenu_overview_video > figure a[data-type="button"]:hover {
      cursor: pointer; }

.webmenu_overview_buy {
  *zoom: 1;
  margin: 0 auto 10px; }
  .webmenu_overview_buy:after {
    clear: both;
    content: "";
    display: table; }
  .webmenu_overview_buy:before {
    content: "";
    display: table; }
  .webmenu_overview_buy > article,
  .webmenu_overview_buy figure > article {
    max-width: 1200px;
    margin: 0 auto;
    float: none;
    padding-left: 15px;
    padding-right: 15px;
    *zoom: 1; }
    .webmenu_overview_buy > article:after,
    .webmenu_overview_buy figure > article:after {
      clear: both;
      content: "";
      display: table; }
    .webmenu_overview_buy > article:before,
    .webmenu_overview_buy figure > article:before {
      content: "";
      display: table; }
    @media screen and (max-width: 768px) {
      .webmenu_overview_buy > article,
      .webmenu_overview_buy figure > article {
        padding-left: 10px;
        padding-right: 10px; } }
    @media screen and (min-width: 769px) {
      .webmenu_overview_buy > article,
      .webmenu_overview_buy figure > article {
        padding-top: 80px;
        padding-bottom: 80px; } }
    @media screen and (max-width: 768px) {
      .webmenu_overview_buy > article,
      .webmenu_overview_buy figure > article {
        padding-top: 60px;
        padding-bottom: 60px; } }
  .webmenu_overview_buy hgroup {
    margin-bottom: 60px; }
    @media screen and (max-width: 768px) {
      .webmenu_overview_buy hgroup {
        margin-bottom: 35px; } }
    .webmenu_overview_buy hgroup p {
      margin: 15px 0; }
    .webmenu_overview_buy hgroup em {
      background-color: white;
      border-radius: 20px;
      padding: 5px 25px;
      font-style: normal;
      font-weight: bold;
      box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.5);
      margin-bottom: 20px; }

.webmenu_software_content > figure:nth-child(even) > article > figure {
  letter-spacing: -0.31em;
  /* webkit: collapse white-space between units */
  *letter-spacing: normal;
  /* reset IE < 8 */
  *word-spacing: -0.43em;
  /* IE < 8 && gecko: collapse white-space between units */ }
  @media screen and (min-width: 769px) {
    .webmenu_software_content > figure:nth-child(even) > article > figure > * {
      display: inline-block;
      box-sizing: border-box;
      zoom: 1;
      *display: inline;
      width: 50%; } }
  @media screen and (max-width: 768px) {
    .webmenu_software_content > figure:nth-child(even) > article > figure > * {
      display: inline-block;
      box-sizing: border-box;
      zoom: 1;
      *display: inline;
      width: 100%; } }

.webmenu_software_content > figure:nth-child(odd) > article > figure {
  letter-spacing: -0.31em;
  /* webkit: collapse white-space between units */
  *letter-spacing: normal;
  /* reset IE < 8 */
  *word-spacing: -0.43em;
  /* IE < 8 && gecko: collapse white-space between units */ }
  @media screen and (min-width: 769px) {
    .webmenu_software_content > figure:nth-child(odd) > article > figure > * {
      display: inline-block;
      box-sizing: border-box;
      zoom: 1;
      *display: inline;
      width: 50%; } }
  @media screen and (max-width: 768px) {
    .webmenu_software_content > figure:nth-child(odd) > article > figure > * {
      display: inline-block;
      box-sizing: border-box;
      zoom: 1;
      *display: inline;
      width: 100%; } }
  @media screen and (min-width: 769px) {
    .webmenu_software_content > figure:nth-child(odd) > article > figure > hgroup {
      position: relative;
      right: -50%; } }
  @media screen and (min-width: 769px) {
    .webmenu_software_content > figure:nth-child(odd) > article > figure > figure {
      position: relative;
      left: -50%; } }

.webmenu_software_content > figure:nth-child(n) {
  *zoom: 1;
  margin: 0 auto 10px; }
  .webmenu_software_content > figure:nth-child(n):after {
    clear: both;
    content: "";
    display: table; }
  .webmenu_software_content > figure:nth-child(n):before {
    content: "";
    display: table; }
  .webmenu_software_content > figure:nth-child(n) > article,
  .webmenu_software_content > figure:nth-child(n) figure > article {
    max-width: 1200px;
    margin: 0 auto;
    float: none;
    padding-left: 15px;
    padding-right: 15px;
    *zoom: 1; }
    .webmenu_software_content > figure:nth-child(n) > article:after,
    .webmenu_software_content > figure:nth-child(n) figure > article:after {
      clear: both;
      content: "";
      display: table; }
    .webmenu_software_content > figure:nth-child(n) > article:before,
    .webmenu_software_content > figure:nth-child(n) figure > article:before {
      content: "";
      display: table; }
    @media screen and (max-width: 768px) {
      .webmenu_software_content > figure:nth-child(n) > article,
      .webmenu_software_content > figure:nth-child(n) figure > article {
        padding-left: 10px;
        padding-right: 10px; } }
    @media screen and (min-width: 769px) {
      .webmenu_software_content > figure:nth-child(n) > article,
      .webmenu_software_content > figure:nth-child(n) figure > article {
        padding-top: 80px;
        padding-bottom: 80px; } }
    @media screen and (max-width: 768px) {
      .webmenu_software_content > figure:nth-child(n) > article,
      .webmenu_software_content > figure:nth-child(n) figure > article {
        padding-top: 60px;
        padding-bottom: 60px; } }
  .webmenu_software_content > figure:nth-child(n) hgroup {
    margin-bottom: 60px; }
    @media screen and (max-width: 768px) {
      .webmenu_software_content > figure:nth-child(n) hgroup {
        margin-bottom: 35px; } }
    .webmenu_software_content > figure:nth-child(n) hgroup p {
      margin: 15px 0; }
    .webmenu_software_content > figure:nth-child(n) hgroup em {
      background-color: white;
      border-radius: 20px;
      padding: 5px 25px;
      font-style: normal;
      font-weight: bold;
      box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.5);
      margin-bottom: 20px; }
  .webmenu_software_content > figure:nth-child(n) > article {
    padding-bottom: 0; }
  .webmenu_software_content > figure:nth-child(n) img {
    background-position: bottom; }

.webmenu_software_content > figure:nth-child(1) {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../image/software/webmenu/software-bg-qrcode.jpg");
  text-align: center; }
  .webmenu_software_content > figure:nth-child(1) img {
    background-image: url("../../image/software/webmenu/software-grcode.png");
    top: 0;
    height: 0;
    padding-bottom: 75%; }

.webmenu_software_content > figure:nth-child(2) {
  margin-bottom: 0;
  background: -webkit-linear-gradient(top, white 0%, white 80%, #f8f8f8 80%, #f8f8f8 100%);
  background: -moz-linear-gradient(top, white 0%, white 80%, #f8f8f8 80%, #f8f8f8 100%);
  background: -o-linear-gradient(top, white 0%, white 80%, #f8f8f8 80%, #f8f8f8 100%);
  background: linear-gradient(top, white 0%, white 80%, #f8f8f8 80%, #f8f8f8 100%); }
  .webmenu_software_content > figure:nth-child(2) img {
    background-image: url("../../image/software/webmenu/software-ordering.png"); }

.webmenu_software_content > figure:nth-child(3) {
  background-color: #f8f8f8; }
  .webmenu_software_content > figure:nth-child(3) img {
    background-image: url("../../image/software/webmenu/software-internal-or-external.jpg"); }

.webmenu_software_content > figure:nth-child(4) {
  background-color: #fbd3d1; }
  .webmenu_software_content > figure:nth-child(4) img {
    background-image: url("../../image/software/webmenu/software-checkout.jpg"); }

.webmenu_software_content > figure:nth-child(5) img {
  background-image: url("../../image/software/webmenu/software-status.jpg"); }
