@charset "UTF-8";
[class*='scale'] {
  overflow: hidden; }

.img,
img {
  max-width: 100%;
  vertical-align: middle;
  position: relative;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  top: 0;
  height: 0;
  padding-bottom: 100%; }

* {
  font: "Helvetica", "Arial", "微軟正黑體" ,"Microsoft JhengHei",sans-serif;
  font-family: "Helvetica", "Arial", "微軟正黑體" ,"Microsoft JhengHei",sans-serif;
  word-break: break-all; }

body {
  font-size: 100%; }

p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem; }
  @media screen and (min-width: 769px) {
    p {
      font-size: 16px;
      font-size: 1rem;
      line-height: 24px;
      line-height: 1.5rem; } }

h1 {
  font-size: 44px;
  font-size: 2.75rem;
  line-height: 66px;
  line-height: 4.125rem; }
  @media screen and (min-width: 769px) {
    h1 {
      font-size: 56px;
      font-size: 3.5rem;
      line-height: 84px;
      line-height: 5.25rem; } }
  @media screen and (min-width: 1200px) {
    h1 {
      font-size: 64px;
      font-size: 4rem;
      line-height: 96px;
      line-height: 6rem; } }

h2 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 54px;
  line-height: 3.375rem; }
  @media screen and (min-width: 769px) {
    h2 {
      font-size: 44px;
      font-size: 2.75rem;
      line-height: 66px;
      line-height: 4.125rem; } }

h3 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem; }
  @media screen and (min-width: 769px) {
    h3 {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 36px;
      line-height: 2.25rem; } }
  @media screen and (min-width: 1200px) {
    h3 {
      font-size: 36px;
      font-size: 2.25rem;
      line-height: 54px;
      line-height: 3.375rem; } }

h4 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem; }
  @media screen and (min-width: 769px) {
    h4 {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 24px;
      line-height: 1.5rem; } }
  @media screen and (min-width: 1200px) {
    h4 {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 36px;
      line-height: 2.25rem; } }

h5 {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 21px;
  line-height: 1.3125rem; }
  @media screen and (min-width: 769px) {
    h5 {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 30px;
      line-height: 1.875rem; } }

h6 {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 20px;
  line-height: 1.25rem; }
  @media screen and (min-width: 769px) {
    h6 {
      font-size: 15px;
      font-size: 0.9375rem;
      line-height: 22px;
      line-height: 1.375rem; } }

small {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 18px;
  line-height: 1.125rem; }

@font-face {
  font-family: "bccFont";
  src: url("../../fonts/bccFont.eot");
  src: url("../../fonts/bccFont.eot?#iefix") format("eot"), url("../../fonts/bccFont.woff") format("woff"), url("../../fonts/bccFont.ttf") format("truetype"), url("../../fonts/bccFont.svg#bccFont") format("svg"); }

.bcc-add:before, .bcc-back:before, .bcc-battery:before, .bcc-blog:before, .bcc-booking:before, .bcc-call:before, .bcc-chain:before, .bcc-chart:before, .bcc-check:before, .bcc-close:before, .bcc-cloud:before, .bcc-coupon:before, .bcc-cpu:before, .bcc-date:before, .bcc-down:before, .bcc-download:before, .bcc-email:before, .bcc-expan:before, .bcc-fb:before, .bcc-fix:before, .bcc-guide:before, .bcc-help:before, .bcc-internet:before, .bcc-inventory:before, .bcc-invoice:before, .bcc-lang:before, .bcc-language:before, .bcc-list:before, .bcc-mail:before, .bcc-maintain:before, .bcc-map:before, .bcc-member:before, .bcc-money:before, .bcc-nav:before, .bcc-new:before, .bcc-next:before, .bcc-next2:before, .bcc-offline:before, .bcc-payment:before, .bcc-pos:before, .bcc-printer:before, .bcc-purchase:before, .bcc-report:before, .bcc-right:before, .bcc-sale:before, .bcc-scan:before, .bcc-screen:before, .bcc-search:before, .bcc-service:before, .bcc-speaker:before, .bcc-sturdy:before, .bcc-table:before, .bcc-taste:before, .bcc-time:before, .bcc-time2:before, .bcc-up:before, .bcc-webmenu:before, .bcc-wholesale:before, .bcc-youtube:before {
  font-family: "bccFont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none; }

.bcc-add:before {
  content: ""; }

.bcc-back:before {
  content: ""; }

.bcc-battery:before {
  content: ""; }

.bcc-blog:before {
  content: ""; }

.bcc-booking:before {
  content: ""; }

.bcc-call:before {
  content: ""; }

.bcc-chain:before {
  content: ""; }

.bcc-chart:before {
  content: ""; }

.bcc-check:before {
  content: ""; }

.bcc-close:before {
  content: ""; }

.bcc-cloud:before {
  content: ""; }

.bcc-coupon:before {
  content: ""; }

.bcc-cpu:before {
  content: ""; }

.bcc-date:before {
  content: ""; }

.bcc-down:before {
  content: ""; }

.bcc-download:before {
  content: ""; }

.bcc-email:before {
  content: ""; }

.bcc-expan:before {
  content: ""; }

.bcc-fb:before {
  content: ""; }

.bcc-fix:before {
  content: ""; }

.bcc-guide:before {
  content: ""; }

.bcc-help:before {
  content: ""; }

.bcc-internet:before {
  content: ""; }

.bcc-inventory:before {
  content: ""; }

.bcc-invoice:before {
  content: ""; }

.bcc-lang:before {
  content: ""; }

.bcc-language:before {
  content: ""; }

.bcc-list:before {
  content: ""; }

.bcc-mail:before {
  content: ""; }

.bcc-maintain:before {
  content: ""; }

.bcc-map:before {
  content: ""; }

.bcc-member:before {
  content: ""; }

.bcc-money:before {
  content: ""; }

.bcc-nav:before {
  content: ""; }

.bcc-new:before {
  content: ""; }

.bcc-next:before {
  content: ""; }

.bcc-next2:before {
  content: ""; }

.bcc-offline:before {
  content: ""; }

.bcc-payment:before {
  content: ""; }

.bcc-pos:before {
  content: ""; }

.bcc-printer:before {
  content: ""; }

.bcc-purchase:before {
  content: ""; }

.bcc-report:before {
  content: ""; }

.bcc-right:before {
  content: ""; }

.bcc-sale:before {
  content: ""; }

.bcc-scan:before {
  content: ""; }

.bcc-screen:before {
  content: ""; }

.bcc-search:before {
  content: ""; }

.bcc-service:before {
  content: ""; }

.bcc-speaker:before {
  content: ""; }

.bcc-sturdy:before {
  content: ""; }

.bcc-table:before {
  content: ""; }

.bcc-taste:before {
  content: ""; }

.bcc-time:before {
  content: ""; }

.bcc-time2:before {
  content: ""; }

.bcc-up:before {
  content: ""; }

.bcc-webmenu:before {
  content: ""; }

.bcc-wholesale:before {
  content: ""; }

.bcc-youtube:before {
  content: ""; }

section {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /* 章節寬度 */
  margin: 0 auto;
  /* 章節水平置中 */
  text-align: center; }

ul, ol {
  letter-spacing: -0.31em;
  /* webkit: collapse white-space between units */
  *letter-spacing: normal;
  /* reset IE < 8 */
  *word-spacing: -0.43em;
  /* IE < 8 && gecko: collapse white-space between units */ }
  @media screen and (min-width: 769px) {
    ul li, ol li {
      display: inline-block; } }

ul, ol, picture, figure {
  position: relative; }

picture {
  display: block;
  width: 100%;
  overflow: hidden; }

picture, blockquote {
  vertical-align: middle;
  text-align: center;
  letter-spacing: initial;
  word-spacing: initial; }

button {
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 8px 12px;
  background-color: #36c;
  color: #fff;
  opacity: 1;
  margin: 10px 0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

button:hover {
  opacity: .9; }

.select-style {
  width: 100%;
  height: 50px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-top: 10px; }
  .select-style:after {
    position: absolute;
    content: "";
    top: 22px;
    right: 12px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #bbb transparent transparent transparent; }
  .select-style select {
    -webkit-appearance: none;
    line-height: 50px;
    padding: 0 10px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    width: 100%;
    color: #032fa2; }

.restaurant-solution_store-type {
  text-align: center;
  padding: 60px 0; }
  .restaurant-solution_store-type nav {
    margin: 20px 0; }
    .restaurant-solution_store-type nav ul {
      letter-spacing: -0.31em;
      /* webkit: collapse white-space between units */
      *letter-spacing: normal;
      /* reset IE < 8 */
      *word-spacing: -0.43em;
      /* IE < 8 && gecko: collapse white-space between units */ }
      @media screen and (min-width: 769px) {
        .restaurant-solution_store-type nav ul {
          max-width: 1200px;
          margin: 20px auto; } }
      .restaurant-solution_store-type nav ul li {
        max-width: 200px;
        width: 25%;
        display: inline-block; }
        .restaurant-solution_store-type nav ul li a {
          padding: 0.5rem;
          color: #444;
          border-bottom: solid 3px transparent;
          transition: .3s; }
          @media screen and (min-width: 769px) {
            .restaurant-solution_store-type nav ul li a {
              font-size: 1.5em;
              font-weight: 700; } }
          .restaurant-solution_store-type nav ul li a:hover, .restaurant-solution_store-type nav ul li a.active {
            border-bottom: solid 3px #d83e39;
            color: #d83e39; }
  .restaurant-solution_store-type figure:nth-child(3) picture {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../image/solution/restaurant/store-type-bg-1.jpg"); }
  .restaurant-solution_store-type figure:nth-child(3) img {
    background-image: url("../../image/solution/restaurant/store-type-img-1.png");
    max-width: 650px; }
  .restaurant-solution_store-type figure:nth-child(3) ol li picture {
    background-image: none; }
  .restaurant-solution_store-type figure:nth-child(3) ol li:nth-child(1) img {
    background-image: url("../../image/_global/product_mobile-pos.png");
    max-width: 200px; }
  .restaurant-solution_store-type figure:nth-child(3) ol li:nth-child(2) img {
    background-image: url("../../image/_global/product_webmenu.png");
    max-width: 200px; }
  .restaurant-solution_store-type figure:nth-child(3) ol li:nth-child(3) img {
    background-image: url("../../image/_global/product_jabezpos.png");
    max-width: 200px; }
  .restaurant-solution_store-type figure:nth-child(4) picture {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../image/solution/restaurant/store-type-bg-2.jpg"); }
  .restaurant-solution_store-type figure:nth-child(4) img {
    background-image: url("../../image/solution/restaurant/store-type-img-2.png"); }
  .restaurant-solution_store-type figure:nth-child(4) ol li picture {
    background-image: none; }
  .restaurant-solution_store-type figure:nth-child(4) ol li:nth-child(1) img {
    background-image: url("../../image/_global/product_restaurant_pos.png"); }
  .restaurant-solution_store-type figure:nth-child(4) ol li:nth-child(2) img {
    background-image: url("../../image/_global/product_mobile-pos.png"); }
  .restaurant-solution_store-type figure:nth-child(4) ol li:nth-child(3) img {
    background-image: url("../../image/_global/product_kds.png"); }
  .restaurant-solution_store-type figure:nth-child(4) ol li:nth-child(4) img {
    background-image: url("../../image/_global/product_webmenu.png"); }
  .restaurant-solution_store-type figure:nth-child(4) ol li:nth-child(5) img {
    background-image: url("../../image/_global/product_member.png"); }
  .restaurant-solution_store-type figure:nth-child(4) ol li:nth-child(6) img {
    background-image: url("../../image/_global/product_jabezpos.png"); }
  .restaurant-solution_store-type figure:nth-child(5) picture {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../image/solution/restaurant/store-type-bg-3.jpg"); }
  .restaurant-solution_store-type figure:nth-child(5) img {
    background-image: url("../../image/solution/restaurant/store-type-img-3.png"); }
  .restaurant-solution_store-type figure:nth-child(5) ol li picture {
    background-image: none; }
  .restaurant-solution_store-type figure:nth-child(5) ol li:nth-child(1) img {
    background-image: url("../../image/_global/product_kiosk.png"); }
  .restaurant-solution_store-type figure:nth-child(5) ol li:nth-child(2) img {
    background-image: url("../../image/_global/product_kds.png"); }
  .restaurant-solution_store-type figure:nth-child(5) ol li:nth-child(3) img {
    background-image: url("../../image/_global/product_webmenu.png"); }
  .restaurant-solution_store-type figure:nth-child(5) ol li:nth-child(4) img {
    background-image: url("../../image/_global/product_jabezpos.png"); }
  .restaurant-solution_store-type figure:nth-child(6) picture {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../image/solution/restaurant/store-type-bg-4.jpg"); }
  .restaurant-solution_store-type figure:nth-child(6) img {
    background-image: url("../../image/solution/restaurant/store-type-img-4.png"); }
  .restaurant-solution_store-type figure:nth-child(6) ol li picture {
    background-image: none; }
  .restaurant-solution_store-type figure:nth-child(6) ol li:nth-child(1) img {
    background-image: url("../../image/_global/product_restaurant_pos.png"); }
  .restaurant-solution_store-type figure:nth-child(6) ol li:nth-child(2) img {
    background-image: url("../../image/_global/product_mobile-pos.png"); }
  .restaurant-solution_store-type figure:nth-child(6) ol li:nth-child(3) img {
    background-image: url("../../image/_global/product_kds.png"); }
  .restaurant-solution_store-type figure:nth-child(6) ol li:nth-child(4) img {
    background-image: url("../../image/_global/product_webmenu.png"); }
  .restaurant-solution_store-type figure:nth-child(6) ol li:nth-child(5) img {
    background-image: url("../../image/_global/product_member.png"); }
  .restaurant-solution_store-type figure:nth-child(6) ol li:nth-child(6) img {
    background-image: url("../../image/_global/product_jabezpos.png"); }
  .restaurant-solution_store-type figure figcaption {
    display: none; }
  .restaurant-solution_store-type figure > picture {
    display: block;
    position: relative;
    overflow: hidden; }
    @media screen and (min-width: 769px) {
      .restaurant-solution_store-type figure > picture {
        top: 0;
        height: 0;
        padding-bottom: 50%; } }
    @media screen and (min-width: 1200px) {
      .restaurant-solution_store-type figure > picture {
        top: 0;
        height: 0;
        padding-bottom: 40%; } }
    .restaurant-solution_store-type figure > picture img {
      max-width: 1200px; }
      @media screen and (max-width: 768px) {
        .restaurant-solution_store-type figure > picture img {
          top: 0;
          height: 0;
          padding-bottom: 50%; } }
      @media screen and (min-width: 769px) {
        .restaurant-solution_store-type figure > picture img {
          top: 0;
          height: 0;
          padding-bottom: 25%; } }
      @media screen and (min-width: 769px) {
        .restaurant-solution_store-type figure > picture img {
          margin-top: 40px; } }
      @media screen and (min-width: 1600px) {
        .restaurant-solution_store-type figure > picture img {
          margin-top: 100px; } }
    .restaurant-solution_store-type figure > picture blockquote {
      color: #fff;
      margin-top: 40px; }
      @media screen and (min-width: 769px) {
        .restaurant-solution_store-type figure > picture blockquote {
          margin-top: 60px; } }
  .restaurant-solution_store-type figure ol {
    letter-spacing: -0.31em;
    /* webkit: collapse white-space between units */
    *letter-spacing: normal;
    /* reset IE < 8 */
    *word-spacing: -0.43em;
    /* IE < 8 && gecko: collapse white-space between units */
    letter-spacing: -0.31em;
    /* webkit: collapse white-space between units */
    *letter-spacing: normal;
    /* reset IE < 8 */
    *word-spacing: -0.43em;
    /* IE < 8 && gecko: collapse white-space between units */
    margin: 20px 0; }
    @media screen and (min-width: 769px) {
      .restaurant-solution_store-type figure ol > * {
        display: inline-block;
        box-sizing: border-box;
        zoom: 1;
        *display: inline;
        letter-spacing: normal;
        word-spacing: normal;
        width: 25%; } }
    @media screen and (max-width: 768px) {
      .restaurant-solution_store-type figure ol > * {
        display: inline-block;
        box-sizing: border-box;
        zoom: 1;
        *display: inline;
        letter-spacing: normal;
        word-spacing: normal;
        width: 50%; } }
    @media screen and (min-width: 769px) {
      .restaurant-solution_store-type figure ol {
        max-width: 1200px;
        margin: 20px auto; } }
    .restaurant-solution_store-type figure ol li {
      padding: 0 15px;
      margin-bottom: 20px; }
      .restaurant-solution_store-type figure ol li figure {
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        transition: all .3s; }
        .restaurant-solution_store-type figure ol li figure:hover {
          transform: translate(3px, 3px);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); }
        .restaurant-solution_store-type figure ol li figure > a {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          cursor: pointer;
          z-index: 9999;
          cursor: pointer; }
        .restaurant-solution_store-type figure ol li figure picture {
          top: 0;
          height: 0;
          padding-bottom: 100%; }
          .restaurant-solution_store-type figure ol li figure picture img {
            top: 0;
            height: 0;
            padding-bottom: 100%;
            max-width: 200px;
            margin-top: 0; }
        .restaurant-solution_store-type figure ol li figure blockquote {
          background-color: #f3726e;
          padding: 0.5rem;
          color: #fff; }
