@import "../css-framework/02_import";



//-----------------------------------------------------------------------------
// jabezpos 雲端後台管理 - 概觀
//-----------------------------------------------------------------------------

.jabezpos_banner {
  @extend %banner_restaurant-solution;
  background-image: url('../../image/_global/cloud-bg.png'), url("../../image/_global/bg-blue-darken.jpg");
  $color: white;
  color: $color;

  article {
    padding-bottom: 0;

    > hgroup img {
      @include img('software/jabezpos/jabezpos-title.png');
    }

    > figure img {
      @include img('software/jabezpos/jabezpos-banner-item.png');
      @include scale-3x1_desktop;
      @include scale-4x3_mobile;
    }
  }

  ol {
    @extend %banner_main-svg;

    li {
      &:nth-child(1) span img {
        @include svg("data:image/svg+xml,%3Csvg fill='#{$color}' version='1.1' id='圖層_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='200px' height='200px' viewBox='0 0 200 200' enable-background='new 0 0 200 200' xml:space='preserve'%3E%3Cpath d='M54.265,173.564H20.014v-56.638h34.251V173.564z M26.014,167.564h22.251v-44.638H26.014V167.564z'/%3E%3Cpath d='M93.197,173.564H58.946V89.059h34.251V173.564z M64.946,167.564h22.251V95.059H64.946V167.564z'/%3E%3Cpath d='M136.992,173.564h-34.248V109.96h34.248V173.564z M108.744,167.564h22.248V115.96h-22.248V167.564z'/%3E%3Cpath d='M180.79,173.564h-34.248V64.672h34.248V173.564z M152.542,167.564h22.248V70.672h-22.248V167.564z'/%3E%3Cpolygon points='24.789,85.628 21.239,80.792 81.431,36.618 105.551,65.439 147.034,27.228 151.099,31.641 104.988,74.115 80.443,44.786 '/%3E%3Cpolygon points='153.807,49.715 147.807,49.715 147.807,32.437 126.921,32.437 126.921,26.437 153.807,26.437 '/%3E%3C/svg%3E");
      }

      &:nth-child(2) span img {
        @include svg("data:image/svg+xml,%3Csvg fill='#{$color}' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='200px' height='200px' viewBox='0 0 200 200' enable-background='new 0 0 200 200' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M179.721,164.664c-3.869-12.728-34.38-28.535-44.759-33.068c-1.299-0.569-2.836-0.543-4.111,0.076l-30.357,14.673 l-27.14-14.574c-1.243-0.674-2.772-0.77-4.113-0.251c-0.439,0.171-43.969,17.516-48.067,33.351 c-2.388,9.229-3.308,13.646-3.315,13.681c-0.07,0.334-0.105,0.673-0.105,1.008c0,5.535,3.119,7.99,4.977,8.961 c2.476,1.295,5.193,1.474,7.762,1.474c0.708,0,1.426-0.016,2.148-0.03l0.321-0.007c0.719-0.014,1.454-0.023,2.192-0.023h130.451 c0.959,0,1.907,0.033,2.835,0.067l0.304,0.01c0.866,0.029,1.708,0.057,2.509,0.057c9.713,0,11.752-5.478,11.752-10.073 C183.003,176.384,182.681,174.406,179.721,164.664z M32.116,180.109l-1.62-0.007c-1.619,0-2.445-0.105-2.875-0.209 c0.461-2.067,1.423-6.212,3.066-12.564c1.583-6.113,22.272-18.556,40.027-25.813l27.334,14.677c1.356,0.73,3.064,0.771,4.467,0.096 l30.553-14.771c18.93,8.627,35.784,21.201,37.243,26.007c2.721,8.954,2.859,10.196,2.859,12.471c0,0.051,0,0.106,0,0.162 c-0.322,0.041-0.897,0.079-1.922,0.079c-0.762,0-1.559-0.029-2.473-0.062l-0.349-0.012c-0.924-0.029-1.87-0.06-2.825-0.06H35.152 l-1.569-0.006c-0.269,0-0.536,0.002-0.812,0.006C32.552,180.107,32.333,180.109,32.116,180.109z'/%3E%3Cpath d='M64.867,95.988c1.733,4.17,3.662,7.208,5.699,10.416l0.054,0.086c0.592,0.928,1.193,1.871,1.795,2.855 c2.016,3.308,4.104,5.903,6.367,7.909c-0.212,3.504-0.641,6.741-1.193,8.98c-0.646,2.63,0.968,5.298,3.599,5.947 c0.385,0.095,0.781,0.143,1.175,0.143c2.269,0,4.231-1.54,4.772-3.744c1.008-4.109,1.478-9.66,1.581-13.485 c0.043-1.665-0.745-3.226-2.112-4.174c-2.024-1.399-3.866-3.526-5.8-6.698c-0.578-0.942-1.149-1.841-1.711-2.727l-0.183-0.287 c-2.204-3.458-4.106-6.444-5.713-10.905c-0.618-1.706-2.271-2.978-4.166-3.22c-0.135-0.083-0.39-0.284-0.534-0.547 c-2.75-5.048-3.979-12.129-4.035-14.871c1.224-0.011,2.404-0.53,3.325-1.461c0.953-0.963,1.471-2.29,1.422-3.64 c-0.667-18.057,5.902-27.697,11.531-32.604c1.293-1.128,1.881-2.855,1.62-4.492c1.59-0.649,3.675-0.894,5.193-0.894l1.854,0.399 l0.247-4.399l3.145-2.162l-0.305-0.695c1.543,0.924,3.351,1.69,5.272,2.222c5.281,1.462,10.109,3.149,14.407,5.038 c13.213,5.235,20.396,18.939,19.705,37.603c-0.046,1.313,0.443,2.61,1.343,3.558c0.79,0.831,1.814,1.35,2.926,1.495 c-0.015,2.742-1.183,9.809-3.98,14.937c-0.167,0.304-0.443,0.524-0.582,0.61c-1.727,0.302-3.158,1.493-3.76,3.138 c-1.621,4.38-3.618,7.51-5.753,10.854c-0.664,1.041-1.337,2.096-2.013,3.207c-1.872,3.07-3.545,5.119-5.269,6.449 c-1.2,0.934-1.912,2.398-1.903,3.923c0.023,3.055,0.277,8.969,1.723,14.248c0.577,2.133,2.527,3.622,4.742,3.622 c0.421,0,0.849-0.056,1.298-0.172c2.61-0.72,4.154-3.428,3.441-6.038c-0.902-3.295-1.211-7.136-1.314-9.519 c1.931-1.877,3.793-4.306,5.675-7.396c0.558-0.918,1.115-1.794,1.664-2.658l0.251-0.394c1.983-3.103,4.033-6.307,5.834-10.583 c1.894-1.012,3.545-2.65,4.594-4.578c4.046-7.426,6.251-19.045,4.537-23.908c-0.657-1.868-1.886-3.333-3.583-4.292 c-0.341-20.801-9.949-36.904-25.781-43.171c-3.165-1.392-8.436-3.467-15.572-5.445c-2.118-0.585-3.274-1.412-3.697-1.764 c-0.31-1.087-0.993-2.049-1.928-2.694c-1.099-0.76-2.507-1.037-3.757-0.777c-3.768,0.75-6.573,5.438-7.529,7.812 c-0.286,0.708-0.509,1.416-0.667,2.116c-4.202,0.801-10.335,3.105-12.184,9.723c-0.179,0.529-0.271,1.08-0.275,1.626 c-7.096,8.221-10.797,19.092-11.011,32.333c-1.897,0.941-3.298,2.508-4.002,4.507c-1.723,4.857,0.479,16.472,4.531,23.896 C61.001,93.313,62.793,95.008,64.867,95.988z'/%3E%3C/g%3E%3C/svg%3E");
      }

      &:nth-child(3) span img {
        @include svg("data:image/svg+xml,%3Csvg fill='#{$color}' version='1.1' id='圖層_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='200px' height='200px' viewBox='0 0 200 200' enable-background='new 0 0 200 200' xml:space='preserve'%3E%3Cpath d='M176.213,49.747c-0.109-0.398-0.282-0.786-0.552-1.134l-17.8-22.887c-2.684-3.455-8.016-6.059-12.395-6.059H52.935 c-4.38,0-9.711,2.605-12.391,6.059L22.742,48.613c-0.271,0.348-0.447,0.735-0.548,1.134c-1.939,1.699-3.19,4.16-3.19,6.934v120.288 c0,5.106,4.155,9.254,9.256,9.254h141.882c5.106,0,9.254-4.147,9.254-9.254V56.681C179.396,53.906,178.146,51.445,176.213,49.747 M145.467,25.833c2.441,0,6.025,1.756,7.523,3.684l13.933,17.908h-52.305V25.833H145.467z M108.458,25.833v55.519 c0,1.705-1.389,3.085-3.088,3.085H93.033c-1.704,0-3.082-1.381-3.082-3.085V25.833H108.458z M45.416,29.511 c1.491-1.922,5.076-3.678,7.52-3.678h30.843v21.592H31.483L45.416,29.511z M173.229,176.967c0,1.704-1.383,3.088-3.087,3.088H28.259 c-1.699,0-3.085-1.383-3.085-3.088V56.681c0-1.704,1.386-3.084,3.085-3.084h55.519v27.755c0,5.107,4.147,9.256,9.255,9.256h12.337 c5.101,0,9.248-4.148,9.248-9.256V53.596h55.523c1.704,0,3.087,1.38,3.087,3.084V176.967L173.229,176.967z'/%3E%3Cpath d='M154.724,161.55H96.115c-1.705,0-3.088,1.377-3.088,3.08c0,1.705,1.381,3.088,3.088,3.088h58.609 c1.698,0,3.081-1.383,3.081-3.088C157.805,162.927,156.422,161.55,154.724,161.55'/%3E%3Cpath d='M144.562,113.104c-1.2-1.205-3.156-1.205-4.355,0l-12.343,12.336c-1.205,1.205-1.205,3.156,0,4.361 c1.205,1.204,3.156,1.204,4.361,0l7.073-7.074v26.487c0,1.702,1.378,3.08,3.088,3.08c1.704,0,3.081-1.377,3.081-3.08v-26.487 l7.07,7.074c0.602,0.597,1.394,0.907,2.187,0.907c0.786,0,1.571-0.311,2.179-0.907c1.205-1.205,1.205-3.156,0-4.361L144.562,113.104 z'/%3E%3Cpath d='M98.294,129.801l7.076-7.074v26.487c0,1.702,1.376,3.087,3.088,3.087c1.703,0,3.08-1.384,3.08-3.087v-26.487l7.071,7.074 c0.606,0.603,1.393,0.901,2.179,0.901c0.792,0,1.583-0.299,2.181-0.901c1.205-1.205,1.205-3.156,0-4.361l-12.331-12.336 c-1.205-1.205-3.162-1.205-4.367,0l-12.337,12.336c-1.205,1.205-1.205,3.156,0,4.361C95.139,131.005,97.097,131.005,98.294,129.801' /%3E%3C/svg%3E");
      }

      &:nth-child(4) span img {
        @include svg("data:image/svg+xml,%3Csvg fill='#{$color}' version='1.1' id='圖層_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='200px' height='200px' viewBox='0 0 200 200' enable-background='new 0 0 200 200' xml:space='preserve'%3E%3Cpath d='M173.027,10.759H37.253c-9.13,0-16.56,7.433-16.56,16.56v16.554h6.623V27.319c0-5.477,4.46-9.934,9.938-9.934h26.494v165.58 H37.253c-5.477,0-9.938-4.46-9.938-9.938v-19.862h6.623c1.83,0,3.314-1.49,3.314-3.32c0-1.823-1.485-3.309-3.314-3.309H14.073 c-1.836,0-3.312,1.485-3.312,3.309c0,1.83,1.476,3.32,3.312,3.32h6.62v19.862c0,9.131,7.43,16.561,16.56,16.561h135.774 c9.137,0,16.561-7.43,16.561-16.561V27.319C189.588,18.192,182.164,10.759,173.027,10.759 M123.354,17.385h33.12v52.536 l-14.44-12.029c-1.232-1.029-3.02-1.029-4.239,0l-14.44,12.029V17.385z M182.965,173.027c0,5.478-4.46,9.938-9.938,9.938H70.368 V17.385h46.363v59.608c0,1.282,0.739,2.455,1.91,2.998c1.151,0.542,2.538,0.373,3.523-0.456l17.749-14.792l17.743,14.792 c0.61,0.505,1.368,0.77,2.126,0.77c0.474,0,0.955-0.099,1.404-0.314c1.158-0.542,1.91-1.716,1.91-2.998V17.385h9.931 c5.478,0,9.938,4.458,9.938,9.934V173.027z'/%3E%3Cpath d='M14.07,57.125h6.626v82.788h6.623V57.125h6.62c1.827,0,3.311-1.485,3.311-3.312c0-1.83-1.484-3.314-3.311-3.314H14.07 c-1.83,0-3.312,1.485-3.312,3.314C10.759,55.64,12.24,57.125,14.07,57.125'/%3E%3C/svg%3E");
      }
    }
  }
}

.jabezpos_overview-slider {
  overflow: hidden;

  &:hover {
    .owl-nav {
      .owl-next {
        right: 0;
        opacity: 1;
      }

      .owl-prev {
        left: 0;
        opacity: 1;
      }
    }
  }

  article {
    padding: 0;
  }

  hgroup {
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;

    a[data-type="button"] {
      @extend %button-main;
      margin-top: 15px;
    }
  }

  .img-1,
  .img-2 {
    height: 768px;
    @include desktop-max {
      height: 660px;
    }
    @include scale-1x1-4_mobile;
  }

  .img-1 {
    @include bg_desktop('software/jabezpos/jabezpos-bg-1.jpg');
    @include bg_mobile('software/jabezpos/jabezpos-bg-1_xs.jpg');

    hgroup {
      bottom: 7%;
      @include tablet-7inch-max {
        bottom: 25%;
      }
    }
  }

  .img-2 {
    @include bg_desktop('software/jabezpos/jabezpos-bg-2.jpg');
    @include bg_mobile('software/jabezpos/jabezpos-bg-2_xs.jpg');

    hgroup {
      left: -40%;
      bottom: 50%;
      @include tablet-7inch-max {
        left: 0;
      }
    }
  }
  // owl
  .owl-nav {
    @extend %owl-nav-cuboid;

    .owl-next,
    .owl-prev {
      background: rgba(255,255,255,.1);

      &:before {
        color: white;
      }

      &:hover {
        background: rgba(255,255,255,.3);
      }
    }

    .owl-next {
      transition: all 0.3s ease-in-out;
      right: -10%;
      opacity: 0;
    }

    .owl-prev {
      transition: all 0.3s ease-in-out;
      left: -10%;
      opacity: 0;
    }
  }

  .owl-dots {
    @extend %owl-dots-cuboid;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.jabezpos_overview_order {
  @include section;
  background-color: $section-bg;

  ol {
    @extend %event;
    @include list-grid-4_desktop;
    @include list-grid-2_mobile;

    li {
      @for $i from 1 through 8 {
        &:nth-child(#{$i}) img {
          @include img('software/jabezpos/overview-f-#{$i}.png');
        }
      }
    }
  }
}

.jabezpos_overview_mix {
  @include section;

  article {
    max-width: inherit;
  }

  hgroup {
    margin-bottom: 0;

    h2 {
      color: $color-main;
    }
  }

  ol {
    @include list-grid-3_desktop;
    max-width: 1600px;
    margin: 0 auto;

    li {
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) img {
          @include img('software/jabezpos/overview-j-#{$i}.png');
        }
      }
      @include tablet-7inch-max {
        &:first-child,
        &:last-child {
          display: none;
        }
      }
    }
  }
}

.jabezpos_overview_logo {
  @include section;
  background-color: $section-bg;

  figure {
    max-width: 800px;
    margin: 0 auto;

    ol {
      @include tablet-7inch {
        margin: 15px 0;
      }

      li figure {
        margin: 0 10px;
      }
    }
  }

  ol:nth-of-type(1) {
    @include list-grid-7_desktop;
    @include list-grid-4_mobile;

    li {
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) img {
          @include img('software/jabezpos/overview-g-#{$i}.png');
        }
      }
    }
  }

  ol:nth-of-type(2) {
    @include list-grid-6_desktop;
    @include list-grid-3_mobile;

    li {
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) img {
          @include img('software/jabezpos/overview-g-#{$i + 4}.png');
        }
      }
    }
  }

  ol:nth-of-type(3) {
    @include list-grid-6_desktop;
    @include list-grid-3_mobile;

    li {
      @for $i from 1 through 6 {
        &:nth-child(#{$i}) img {
          @include img('software/jabezpos/overview-g-#{$i + 7}.png');
        }
      }

      img {
        @include scale-3x2;
      }
    }
  }

  ol:nth-of-type(4) {
    @include list-grid-3_desktop;
    @include list-grid-2_mobile;

    li {
      @for $i from 1 through 2 {
        &:nth-child(#{$i}) img {
          @include img('software/jabezpos/overview-g-#{$i + 13}.png');
        }
      }

      img {
        @include scale-3x1;
      }
    }
  }
}

.jabezpos_overview_erp {
  @include section;
  @include section-img-left;
  @include bg('software/jabezpos/overview-banner_erp.jpg');
  color: white;

  article {
    @include tablet-7inch {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  img {
    @include img('software/jabezpos/overview-pic_erp.png');
  }
}

%compare-table {
  text-align: center;
  width: 100%;
  border: none;

  th {
    width: 50%;
    text-align: center;
    font-size: 2em;
    padding: 12px;
    background-color: transparent;
    border: none;
    @include tablet-7inch-max {
      padding: 0;
      font-size: 0.9em;
    }
  }

  td {
    font-size: 1.2em;
    text-align: left;
    background-color: transparent;
    border: none;
    @include tablet-7inch-max {
      font-size: 0.8em;
    }
  }

  tr:nth-child(even) {
    background-color: #eeeeee;
  }

  tr td:nth-child(odd) {
    text-align: right;
    border-right: solid 1px #ddd;
    position: relative;
    padding: 12px 8% 12px 0;
    @include tablet-7inch-max {
      padding: 10px 8% 10px 0;
    }

    &::after {
      content: '';
      display: inline-block;
      border-style: solid;
      border-width: 7.5px 13.0px 7.5px 0;
      border-color: transparent #cbcbcb transparent transparent;
      right: 7%;
      top: 50%;
      margin-top: -5px;
      position: absolute;
      @include tablet-7inch-max {
        right: 1px;
      }
    }
  }

  tr td:nth-child(even) {
    position: relative;
    padding: 12px 0 12px 8%;
    @include tablet-7inch-max {
      padding: 5px 0 5px 8%;
    }

    &::before {
      content: '';
      display: inline-block;
      border-style: solid;
      border-width: 7.5px 0 7.5px 13.0px;
      border-color: transparent transparent transparent #007bff;
      left: 7%;
      top: 50%;
      margin-top: -5px;
      position: absolute;
      @include tablet-7inch-max {
        left: 1px;
      }
    }
  }

  thead tr:nth-child(2) {
    background-color: #fff;
    position: relative;

    &::after,
    &::before {
      content: '';
      background-color: #ddd;
      width: 100%;
      height: 5px;
      position: absolute;
      left: 0;
    }

    &::after {
      background-color: #2bbcf6;
      left: 50%;
      width: 50%;
    }

    th {
      background-color: #2bbcf6;
      display: inline-block;
      border-radius: 50%;
      color: #fff;
      font-size: 2.6em;
      font-weight: lighter;
      width: 70px;
      height: 70px;
      line-height: 38px;
      letter-spacing: -4px;
      text-indent: -4px;
      position: relative;
      top: -32px;
      left: 50%;
      z-index: 1;
      @include tablet-7inch-max {
        font-size: 1.5em;
        width: 35px;
        height: 35px;
        line-height: 30px;
        letter-spacing: -2px;
        text-indent: 0;
        position: relative;
        top: -15px;
      }
    }
  }
}

.jabezpos_overview_compare {
  @include section;

  table {
    @extend %compare-table;
  }
}

.jabezpos_overview_chain {
  @include section;
  @include section-img-right;
  color: white;
  @include bg('software/jabezpos/overview-banner_chain.jpg');

  img {
    @include img('software/jabezpos/overview-pic_chain.png');
    @include scale-3x2;
  }
}

.jabezpos_overview_feature {
  @include section;

  article > figure {
    margin-bottom: 25px;
    background-color: $section-bg;
    @include grid-group;

    hgroup {
      @include col-3_desktop;
      @include col-12_mobile;
      color: white;
      padding: 3%;
      margin-bottom: 0;

      h4 {
        margin-top: 15px;
      }
    }

    ol {
      @include col-9_desktop;
      @include col-12_mobile;
      @include list-grid-3_desktop;
      @include list-grid-2_mobile;
      vertical-align: middle;
      padding-left: 5%;
      text-align: left;
      @include tablet-7inch-max {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      li {
        margin: 10px 0;

        &:last-child {
          @include tablet-7inch-max {
            width: 100%;
          }
        }
      }

      span {
        display: inline-block;
        float: left;

        img {
          @include img('software/jabezpos/overview-box.svg');
          @include scale(30px,30px);
        }
      }

      h5 {
        display: inline-block;
        float: left;
        margin-left: 6px;
      }
    }

    &:nth-of-type(1) {
      hgroup {
        background-color: #3da5fb;

        img {
          @include img('software/jabezpos/overview-pos.svg');
          @include scale(100px,100px);
        }
      }
    }

    &:nth-of-type(2) {
      hgroup {
        background-color: #3694e0;

        img {
          @include img('software/jabezpos/overview-backmg.svg');
          @include scale(100px,100px);
        }
      }
    }
  }

  a[data-type="button"] {
    @extend %button-dark;
    margin-top: 35px;
  }
}

.jabezpos_overview_combination {
  @include section;
  @include section-img-left;
  @include section-img-up_mobile;
  background-color: $section-bg;

  img {
    @include img('software/jabezpos/overview-pic_mix.jpg');
    @include scale-4x3;
  }

  h4 {
    color: #888;
    margin: 15px 0;
  }

  a[data-type="button"] {
    @extend %button-dark;
  }
}
//-----------------------------------------------------------------------------
// jabezpos 雲端後台管理 - 功能
//-----------------------------------------------------------------------------

%boss-feature {
  background-attachment: fixed;
  @include tablet-7inch-max {
    background-attachment: inherit;
  };

  hgroup {
    padding: 100px 15px;
    color: white;

    > * {
      font-weight: bold;
    }
  }

  > figure {
    background-color: $section-bg;
  }
}

.jabezpos_feature_module {
  @include bg('software/jabezpos/feature-banner_feature.jpg');
  @extend %boss-feature;

  > figure {
    padding: 50px 0;

    ol {
      @include list-grid-4_desktop;
      @include list-grid-2_mobile;
      @include content;

      li {
        @for $i from 1 through 8 {
          &:nth-child(#{$i}) img {
            @include img('software/jabezpos/feature-f-#{$i}.png');
          }
        }
        margin-bottom: 25px;

        img {
          @include scale(150px,150px);
        }

        h5 {
          font-weight: bold;
        }

        small {
          color: #ff7800;
        }
      }
    }

    a[data-type="button"] {
      @extend %button-dark;
      margin: 50px 0 15px;
    }

    small {
      display: block;
    }
  }
}

.jabezpos_feature_module_food,
.jabezpos_feature_module_retail {
  @extend %boss-feature;
  $gray: #998e96;
  $blue: #008bed;
  $green: #21c185;
  $red: #fc585b;
  $purple: #a06bfc;

  nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;

    ol {
      @include list-grid-2;
      max-width: 600px;
      margin: 0 auto;

      li a[data-type="button"] {
        width: 100%;
        display: block;
        background-color: rgba(231, 123, 51, 0.6);
        font-size: 1.5em;
        color: #fff;
        padding: 10px;

        &.active,
        &:hover {
          background-color: #e77b33;
        }
      }
    }
  }

  article {
    padding-bottom: 35px;
  }

  > figure {
    > article {
      @include content;

      > ol {
        @include list-grid-4_desktop;
        @include list-grid-1_mobile;
        background-color: white;
        position: relative;
        text-align: left;

        > li {
          // @include col-3_desktop;
          // @include col-6_mobile;
          display: inline-block;
          float: none;
          vertical-align: top;
          margin-left: -4px;
          position: static;
          border-top: solid 25px $section-bg;

          &:before {
            content: '';
            width: 15px;
            height: 100%;
            background-color: $section-bg;
            position: absolute;
            top: 0;
            z-index: 2;
            display: none;
          }

          &:nth-child(1) {
            &:before {
              @include tablet-7inch {
                display: block;
                left: 24%;
              }
            }
          }

          &:nth-child(2) {
            &:before {
              @include tablet-7inch {
                display: block;
                left: 48%;
              }
            }

            h4 {
              border-top-color: $green;
              color: $green;
            }

            li {
              &:before {
                background-color: $green;
              }
            }
          }

          &:nth-child(3) {
            &:before {
              @include tablet-7inch {
                display: block;
                left: 72.5%;
              }
            }

            h4 {
              border-top-color: $green;
              color: $green;
            }

            li {
              &:before {
                background-color: $green;
              }
            }
          }

          &:nth-child(4) {
            &:before {
              @include tablet-7inch {
                display: block;
                left: 98.7%;
                width: 25px;
              }
            }

            h4 {
              border-top-color: $red;
              color: $red;
            }

            li {
              &:before {
                background-color: $red;
              }
            }
          }

          &:nth-child(5) {
            h4 {
              border-top-color: $purple;
              color: $purple;
            }

            li {
              &:before {
                background-color: $purple;
              }
            }
          }
        }

        ol {
          padding-left: 20%;
          margin: 15px auto;

          > li {
            margin-bottom: 10px;

            &:before {
              content: " ";
              border-radius: 50%;
              width: 14px;
              height: 14px;
              position: absolute;
              left: -22px;
              top: 4px;
              background-color: $blue;
            }
          }
        }

        figure {
          text-align: left;
        }

        h4 {
          border-bottom: solid 1px $color-dark;
          border-top: solid 4px $blue;
          color: $blue;
          margin-bottom: 10px;
          font-weight: bold;
          padding: 5% 10%;
        }
      }
    }
  }

  figure:last-child {
    background-color: white;
  }
}

.jabezpos_feature_module_retail {
  @include bg('software/jabezpos/feature-banner_retail.jpg');

  figure:last-child {
    span {
      display: block;
      @include content;
    }

    img {
      @include img('software/jabezpos/feature-00.png');
      @include scale-2x1;
    }
  }
}

.jabezpos_feature_module_food {
  @include bg('software/jabezpos/feature-banner_food.jpg');

  figure:last-child {
    span {
      display: block;
      @include content;
    }

    img {
      @include img('software/jabezpos/feature-01.jpg');
    }
  }
}

.jabezpos_feature_transfer {
  @include section;
  color: white;
  @include bg('software/jabezpos/feature-banner_erp2.jpg');

  img {
    @include img('software/jabezpos/feature-banner_cloud.png');
    @include scale-4x1;
  }
}

.jabezpos_feature_item {
  @include section;

  ol {
    @include list-grid-23_desktop;
    @include list-grid-1_mobile;

    li {
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) img {
          @include bg('software/jabezpos/feature-e-#{$i}.png');
        }
      }
      padding: 15px;
      @include tablet-7inch-max {
        padding: 10px 0;
      }

      figure {
        background-color: $section-bg;
        display: inline-block;
        width: 100%;
      }

      img {
        @include scale(33%,40%);
        float: left;
        background-position: left;
      }

      h5,
      p {
        @include col-8_desktop;
        @include tablet-7inch {
          float: left;
        }
        // @include tablet-7inch-max {
        //   white-space: nowrap;
        // }
        br {
          @include tablet-7inch-max {
            clear: none;
          }
        }
      }

      p {
        @include tablet-7inch-max {
          @include h6;
        }
      }

      h5 {
        font-weight: bold;
      }

      &:nth-child(n) {
        h5 {
          margin-top: 6%;
          margin-bottom: 2%;
        }
      }

      &:nth-child(1),
      &:nth-child(2) {
        h5 {
          margin-top: 10%;
          @include tablet-7inch-max {
            margin-top: 6%;
          }
        }
      }
    }
  }
}
//-----------------------------------------------------------------------------
// jabezpos 雲端後台管理 - 影音專區
//-----------------------------------------------------------------------------

.jabezpos_video_banner {
  > figure {
    color: white;
    @include bg('software/jabezpos/video-bg_banner_1.jpg');
    @include section-normal;
    @include tablet-7inch {
      text-align: left;
    }

    hgroup {
      @include col-5_desktop;
      @include tablet-7inch {
        float: left;
      }
    }
  }

  > section {
    @include section-img-up_mobile;

    > article > figure {
      @include content;

      img {
        @include scale-4x3;
      }

      hgroup {
        text-align: left;
        padding: 4%;
        background-color: white;
        z-index: 1;
        @include tablet-7inch-max {
          padding: 0 0 60px;
        }

        h4 {
          font-weight: bold;
        }

        p {
          margin: 30px 0;
          @include tablet-7inch-max {
            margin: 15px 0 10px;
          }
        }

        small {
          color: $color-main;
        }
      }

      .video-container {
        display: none;
        @include tablet-7inch-max {
          display: block;
        }
      }

      .img,
      img {
        transition: all 0.3s ease-in-out;
        @include tablet-7inch-max {
          display: none;
        }
      }

      figure {
        &:hover {
          .img,
          img {
            opacity: 0.8;
          }
        }
      }

      a[data-type="button"] {
        @include btn-full_desktop;
        @include img('software/jabezpos/video-paly-pic.png');
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  > section:nth-of-type(odd) {
    @include section-img-left;

    figure img {
      @include half-img-left_desktop;
    }
  }

  > section:nth-of-type(even) {
    @include section-img-right;

    figure img {
      @include half-img-right_desktop;
    }
  }

  > section:nth-of-type(1) {
    figure img {
      @include bg('software/jabezpos/video-bg_banner_2.jpg');
    }
  }

  > section:nth-of-type(2) {
    figure img {
      @include bg('software/jabezpos/video-bg_banner_3.jpg');
    }
  }

  > section:nth-of-type(3) {
    figure img {
      @include bg('software/jabezpos/video-bg_banner_4.jpg');
    }

    a[data-type="button"] {
      display: none;
    }
  }
}

.jabezpos_video_business-circles {
  @include section;
  background-color: $section-bg;

  ol {
    @include list-grid-4_desktop;
    @include list-grid-3_mobile;

    li {
      @for $i from 1 through 8 {
        &:nth-child(#{$i}) img {
          @include img('software/jabezpos/video-s-#{$i}.png');
        }
      }

      img {
        @include scale-2x1_desktop;
        @include scale-4x3_mobile;
      }
    }
  }
}

.jabezpos_video_business-circles-video {
  @include section;

  ol {
    @include list-grid-3_desktop;

    li {
      @for $i from 1 through 6 {
        &:nth-child(#{$i}) img,
        .img {
          @include img('software/jabezpos/video-v-#{$i}.jpg');
        }
      }

      .img,
      img {
        @include tablet-7inch-max {
          display: none;
        }
      }

      a[data-type="button"] {
        @include btn-full_desktop;
        @include img('software/jabezpos/video-paly-pic.png');
        height: 100%;
        background-size: 20%;
        background-repeat: no-repeat;
        background-position: 50% 25%;
        transition: all 0.3s ease-in-out;
      }

      figure {
        margin-top: 50px;
        padding: 0 10%;
        @include tablet-7inch-max {
          padding: 0;
        }

        &:hover {
          position: relative;

          .img,
          a[data-type="button"],
          img {
            transform: translateY(-10px);
          }

          .img,
          img {
            box-shadow: 0 20px 10px rgba(0,0,0,.3);
          }
        }
      }

      .video-container {
        display: none;
        @include tablet-7inch-max {
          display: block;
        }
      }

      .img,
      img {
        @include scale-4x3;
        transition: all 0.3s ease-in-out;
      }

      h5 {
        margin: 10px 0;
      }

      p {
        //@include p;
      }
    }
  }
}
//-----------------------------------------------------------------------------
// jabezpos 雲端後台管理 - 價格表
//-----------------------------------------------------------------------------

.jabezpos_price {
  background-color: $section-bg;

  > article {
    @include content;
    // padding-left: 0;
    // padding-right: 0;
  }

  table {
    border: none;
  }

  &.price-table {
    margin-bottom: 0;
    padding-bottom: 60px;
  }

  // caption
  .caption{
    center{
      margin: 25px 0;
    }
  }

  table.style-table {
    width: 100%;
    margin: 0 auto;

    button, img, h1, h3, h4, h6, p {
      margin: 0;
      padding: 0;
    }

    button {
      display: none;
      &.button{
        display: inline-block;
      }
    }

    a {
      display: block;
      margin: 5% 10%;
    }

    img {
      max-width: 100%;
      // width: inherit;
      height: inherit;
      width: initial;
      text-align: center;
      margin: 0 auto;
    }
    .radio, .checkbox {
      display: none;
    }

    th,td {
      border: solid 1px #ddd;
      text-align: center;
      padding: 8px 0;
      color: #3b4952;

       @include tablet-7inch-max {
        display: none;
        &.active{
          display: table-cell;
        }
      }
    }

    // thead
    thead{
      th{
        width: 21%;
        color: #fff;
        padding: 2% 0;
        border: none;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        &:first-child {
          width: 16%;
        }
        
        @include tablet-7inch-max {
          width: 60%;
          padding: 6% 0;
        }
      }

      a {
        color: #fff;
        font-weight: normal;
        border-radius: 3px;
        padding: 8px 35px;
        &:hover{
          opacity: 0.9;
        }

        @include tablet-7inch-max{
          padding: 10px 60px;
          letter-spacing: 2px;
        }
      }

      h1{
        @include h3;
      }

      h3 {
        span {
          @include h5;
          display: inline-block;
        }
      }

      h4{
        @include h5;
        font-weight: normal;
      }
    }

    // tbody
    tbody{
      h1{
        // font-size: 1em;
        @include h6;
        font-weight: normal;
        //white-space: nowrap;
        @include tablet-7inch-max{
          cursor: pointer;
          -webkit-tap-highlight-color: rgba(0,0,0,0);
          min-width: 100px;
        }
        &:before {
          @include small;
        }
        span.tip{
          color: #fff;
          background-color: #36c;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: inline-block;
          position: relative;
          top: 0px;
          left: 5px;
          // text-indent: 5px;
          font-size: 0.9em;
          line-height: 22px;
          text-align: center;
          z-index: 0;
        }
      }
      p{
        font-size: 80%;
        line-height: 1.65em;
        @include tablet-7inch-max{
          font-size: 75%;
        }
      }
      tr:first-child {
        white-space: inherit;
        td{
          &[data-title="side_nav"]{
            min-width: inherit;
            background-color: #e3e3e3;
            text-align: left;
            padding: 2px 2%;
            min-width: 110px;

            @include tablet-7inch-max{
              width: 5%;
            }
          }
          p{
            //white-space: nowrap;
            text-align: left;
            max-width: 200px;
            margin: 0 auto;
            padding-left: 5px;
          }
        }
      }
      td[colspan="5"]{
        text-align: left;
        background-color: #aaaaaa;
        padding: 2px 2%;
        h4{
          @include h6;
          // font-size: 1.2em;
          color: #fff;
        }
      }
      a{
        border: solid 1px #36c;
        border-radius: 20px;
        color: #36c;
        padding: 6px 15px;
        &:hover{
          background-color: #36c;
          color: #fff;
        }
      }
    }

    // tfoot
    tfoot{
      td{
        text-align: left;
        padding: 15px 2%;
        vertical-align: top;
        h4{
          font-size: 1em;
        }
        &[data-title="side_nav"]{
          display: table-cell;
        }
        &[data-title="notice_list_a"],&[data-title="notice_list_b"]{
          background-color: #fff;
          ol{
            list-style: decimal;
            margin-left: 15px;
            font-size: 0.9em;
          }
        }
      }
    }
    
  }

  .btn-price {
    display: none;
  }

  .price-tab-nav ul li a {
    @include h6;
  }

  .desktop {
    @include tablet-7inch {
      display: table-row-group;
    }
    @include tablet-7inch-max {
      display: none;
    }
  }

  .mobile {
    @include tablet-7inch {
      display: none;
    }
    @include tablet-7inch-max {
      display: table-row-group;
    }
  }

}



// 手機板 tab-nav
$default: #5e7885;
$free: #3b4952;
$bluenote: #3590c7;
$orangeA: #f19149;
$orangeB: #ea8336;

.price-tab-nav{
	margin: 5%;
	display: none;
	border-radius: 4px;
	overflow: hidden;
	@include tablet-7inch-max{
		display: block;
    	margin: 5% 0;
	}
  ul{
  	border: solid 1px #3b4952;
    border-radius: 6px;
    display: table;
    width: 100%;
    li{
    	display: inline-block;
      width: 25%;
      border-left: solid 1px #252d30;
      &:first-child{
      	border-left: none;
      }
        
      a{
      	display: block;
        text-align: center;
        padding: 15px 0;
        color: #fff;
        background-color: $default;

      }
        
      a.price-a{
      	&.active, &:hover{
          background-color: $free;
      	}
      }
        
      a.price-b{
      	&.active, &:hover{
          background-color: $bluenote;
      	}
      }
        
      a.price-c{
      	&.active, &:hover{
          background-color: $orangeA;
      	}
      }
        
      a.price-d{
      	&.active, &:hover{
          background-color: $orangeB;
      	}
      }  
    }   
  }  
}


// colgroup
$white: #fff;
$gray: #eee;

.side-nav{
  background-color: $white;
}
.version-free{
  background-color: $white;
}
.version-retail{
  background-color: $gray;
}
.version-food-before{
  background-color: $white;
}
.version-food-after{
  background-color: $gray;
}


// 側邊攔
#side_nav{
	display: table-cell;
	background-color: #f8f8f8;

	@include tablet-7inch-max{
		 display: none;
	}
}


// 創業版
#version_free{
	background-color: $free;
	h3{
		display: none;
	} 
	a{
		background-color: #5f7886;
	}  
}
  

// 零售百貨版
#version_retail{
	background-color: $bluenote;
	a{
		background-color: #1f5f9f;
	} 
}
  

// 餐飲先結版
#version_food_before{
	background-color: $orangeA;
	a{
		background-color: #cc6633;
	}
}
  

// 餐飲後結版
#version_food_after{
	background-color: $orangeB;
	a{
		background-color: #cc6633;
	} 
}



// tooltip
$tooltip: #3b4a51;
.tooltip-font, .tooltip-back{
	display: inline-block;
  	z-index: 0;
}
  

*[data-tooltip]{
	position: relative;

	@include tablet-7inch-max{
		&:hover:before, &:hover:after{
			display: none;
		}
      
	    &.active:before, &.active:after{
	      display: block;
	    }
	}

  &::before{
  	content: attr(data-tooltip);
    display: block;
    float: left;
    color: #fff;
    background: $tooltip;
    padding: 8px;
    position: absolute;
    font-size: 0.8em;
    border-radius: 4px;
    width: 160px;
    display: none;
    z-index: 5;
  }
    
  &::after{
  	content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    display: none;
    z-index: 5;
  }
    
  &:hover:before, &:hover:after{
  	display: block;
  }
    
}
  

// 所有空值的tooltip隱藏
*[data-tooltip=""]{
	&::before, &::after,&:hover:before, &:hover:after{
		display: none;
	}
    
}
  

*[data-placement="top"]{
	&::before{
      bottom: 100%;
	}
    &::after{
    	border-width: 5px 5px 0 5px;
		border-top-color: $tooltip;
		top: 0;
		left: 50%;
    }  
}
    
*[data-placement="bottom"]{
	 &::before{
	 	top: 100%;
	 }
      
    &::after{
    	border-width: 0 5px 5px 5px;
		border-bottom-color: $tooltip;
		bottom: 0;
		left: 50%;
    }
      
}
   
*[data-placement="left"]{
	&::before{
      right: 100%;
	}
    &::after{
		border-width: 5px 0 5px 5px;
		border-left-color: $tooltip;
		top: 60%;
    }
      
}
    
*[data-placement="right"]{
	&::before{
      left: 100%;
	}
    &::after{
    	border-width: 5px 5px 5px 0;
		border-right-color: $tooltip;
		right: 0;
		top: 60%;
    } 
}
  
  

//-----------------------------------------------------------------------------
// jabezpos 雲端後台管理 - 相關介紹
//-----------------------------------------------------------------------------
.jabezpos-introduction_banner {
  @include bg('software/jabezpos/jabezpos_info/bg_main.jpg');
  background-repeat: repeat;
  background-size: contain;
  color: white;

  article {
    @include content;
    @include grid-group;
  }

  figure.cell,
  figure.shop {
    @include col-4_desktop;

    img {
      @include scale-16x9_desktop;
      @include scale-3x1_mobile;
    }
  }

  hgroup {
    @include col-4_desktop;
    margin-top: 15px;
  }

  figure.shop img {
    @include img('software/jabezpos/jabezpos_info/bg_shop.png');
  }

  figure.cell img {
    @include img('software/jabezpos/jabezpos_info/bg_cell.png');
  }
}
//------------------------------------------------------------------------------
// nav
//------------------------------------------------------------------------------

.nav_intro {
  background-color: #eee;
  border-bottom: solid 1px #c1c1c1;

  article {
    @include content;
    @include tablet-7inch-max {
      padding-left: 0;
      padding-right: 0;
    }
  }

  ol {
    @include list-grid-3;
    max-width: 600px;
    text-align: center;

    a {
      height: 60px;
      line-height: 60px;
      border-bottom: solid 4px #636363;

      &.active,
      &:hover {
        color: $color-main;
        background-color: white;
        border-color: $color-main;
      }
    }
  }
}



//------------------------------------------------------------------------------
// 獲獎肯定
//------------------------------------------------------------------------------
@mixin introduction-report {
  ol {
    @include list-grid-2_desktop;

    li {
      margin-bottom: 5%;

      img {
        @include scale-2x1;
      }

      > figure {
        background-color: white;
        @include tablet-7inch {
          margin: 0 5%;
        }
      }

      hgroup {
        text-align: left;
        padding: 5%;
        margin: 0;
        @include scale-4x3_desktop;
        @include tablet-7inch {
          height: 0;
        }
      }

      h4 {
        margin-top: 12px;
      }

      h5 {
        color: $color-main;
        display: inline-block;
        border: solid 1px $color-main;
        background-color: white;
        padding: 0 10px;
      }
    }
  }
}

.jabezpos-introduction_award {
  @include section;
  background-color: $section-bg;
  @include introduction-report;

  li {
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) img {
        @include img('software/jabezpos/jabezpos_info/photo_#{$i - 1}.jpg');
      }
    }
  }
}
//------------------------------------------------------------------------------
// 媒體報導
//------------------------------------------------------------------------------

.jabezpos-introduction_media {
  @include section;
  @include introduction-report;

  ol{
    li {
      > figure{
        background-color: #f8f8f8;
      }
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) img {
          @include img('software/jabezpos/jabezpos_info/report-#{$i}.jpg');
        }
      }
    }
  }
}
//------------------------------------------------------------------------------
// 常見問題
//------------------------------------------------------------------------------
@mixin details-default {
  summary::-webkit-details-marker {
    display: none;
  }

  summary {
    color: $color-main;
    @include h5;
    padding-left: 40px;
  }

  p {
    margin: 15px 0;
    padding-left: 40px;
  }

  summary:after {
    border-radius: 5px;
    content: " ";
    @include bg('software/jabezpos/jabezpos_info/com-open.png');
    @include scale(24px,24px);
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  &[open] summary:after {
    content: "";
    @include bg('software/jabezpos/jabezpos_info/com-less.png');
    @include scale(24px,24px);
    height: 0;
  }

  & {
    padding: 15px;
    clear: both;
    cursor: pointer;
  }
}

.jabezpos-introduction_faq {
  @include section;
  background-color: $section-bg;

  figure {
    text-align: left;
    background-color: #fff;
    padding: 15px 15px 35px;

    h4 {
      background-color: #36c;
      color: white;
      display: inline-block;
      @include h5;
      font-weight: normal;
      padding: 3px 15px;
      border-radius: 3px;
      margin: 20px 0;
    }
  }

  details {
    @include details-default;
    border-bottom: 1px dotted #ddd;
  }
}


//
.jabezpos_restaurant_feature{
	@include section;
	padding: 60px 0;
	background-color: #f8f8f8; // 背景顏色
	@include tablet-7inch{
		padding: 80px 0;
	}

	hgroup{
		margin-bottom: 0;
	}

	// 上內文
	blockquote{
		margin-bottom: 20px;
		p{
			font-size: 14px; // 文字大小
			color: #888; // 文字顏色
		}
	}

	// 圖文區塊
	figure{
		@include tablet-7inch{
			max-width: 1200px; // 限制桌面版內容寬度
			margin: 0 auto; // 內容置中
			padding: 20px;
		}
		//background-color: #fff; // 圖文區塊 背景色
		border: none; // 圖文區塊 邊框：無
		//border-radius: 3px; // 圖文區塊 圓角 3px
		//margin: 20px; // 圖文區塊與圖文區塊 間距
		//padding: 10px;

		> a {
			// 圖片區塊整塊連結
			display: none; // 關閉
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			cursor: pointer;
			z-index: 9999;

		}
		// 圖片標題
		figcaption{
			display: none; // 顯示 或 隱藏
			font-size: 20px; // 字體大小
			color: #36c; // 字體顏色
			padding: 10px; // 內距 10px
		}
		

		// 圖片
		picture{
			display: block;
			position: relative;
			//margin: 10px; // 圖片邊距
			overflow: hidden; // 控制 img 不超出範圍

			img{
				@include img('software/jabezpos/jabezpos_feature_restaurant.png');
				@include scale-2x1; // 圖片比例
				//transition: transform 0.5s ease-out; // 圖片縮放效果
				
			}
		}

		// 項目二
		ol{
			@include list-grid-3_desktop;
			li{		
				text-align: center;
				padding: 5px 10px;
				@include tablet-7inch{
					text-align: left;
				}

				em{
					color: #e97232;
				}
				&:before{
					content:'';
					display: inline-block;
					vertical-align: middle;
					margin-right: 10px;
					width: 16px;
					height: 16px;
					background-size: cover;
				}

				@for $i from 1 through 12 {
			        &:nth-child(#{$i}) {
			        	&:before{
			        		@include img('software/jabezpos/jabezpos-feature-icon-#{$i}.png');
			        	}
			        }
			     }
			}
		}
	}
}