@import "../css-framework/02_import";

//-----------------------------------------------------------------------------
// 智能零售 - 概觀
//------ -----------------------------------------------------------------------

.retail-solution_overview_banner {
  @extend %banner_restaurant-solution;
  background-image: url('../../image/_global/cloud-bg.png'), url("../../image/_global/bg-blue.jpg");
  @include tablet-7inch-max {
    background-size: 240%,cover;
  }
  @include mobile-3inch {
    background-size: 335%,cover;
  }
  color: white;

  hgroup {
    img {
      @include img('solution/retail/title.png');
      max-width: 350px;
    }
  }

  ol{
    @include list-grid-5_desktop;
    @include list-grid-3_mobile;
    color: $black;
    margin-top: 30px;
    @include tablet-7inch-max {
      padding-top: 0;
    }

     li {
      &:nth-child(1) img {
        @include img('_global/banner-item-3.png');
      }

      &:nth-child(2) img {
        @include img('_global/banner-item-4.png');
      }

      &:nth-child(3) img {
        @include img('_global/banner-item-6.png');
      }
      .img,
      img {
        margin-bottom: 10px;
        transition: all 0.3s ease-in-out;
        @include scale-4x3_mobile;
      }

      figure:hover {
        cursor: pointer;

        .img,
        img {
          transform: translateY(-10px);
        }

        h6 {
          color: $color-main;
        }
      }

      a[data-type="button"] {
        @include btn-full;
      }
    }
  }
}

.retail-solution_overview_case {
  @include section;
  background-color: #f6f8f7;

  ol:nth-of-type(1) {
    @include list-grid-3_desktop;

    li {
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) img {
          @include bg('solution/retail/case-case-photo-#{$i}.jpg');
        }
      }

      img {
        @include scale-16x9;
      }

      figure {
        background-color: white;
        padding: 10px;
        margin: 15px;
        @include tablet-7inch-max {
          margin: 15px 0;
        }

        h4 {
          font-weight: bold;
          padding: 10px 0;
          border-bottom: solid 1px #ddd;
        }

        p {
          margin: 15px 0;
          @include h6;
        }
      }
    }
  }

  ol:nth-of-type(2) {
    @include list-grid-5_desktop;
    @include list-grid-3_mobile;
    margin-top: 60px;

    li {
      @for $i from 1 through 10 {
        &:nth-child(#{$i}) img {
          @include img('solution/retail/case-case-logo-#{$i}.png');
        }
      }

      img {
        @include scale-4x3;
      }

      figure {
        padding: 0 10% 15px;
        @include tablet-7inch-max {
          padding: 0;
        }
      }
    }
  }
}

.retail-solution_overview_solve {
  @include section;

  ol {
    @extend %event;
    @include list-grid-4_desktop;
    @include list-grid-2_mobile;

    li {
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) img {
          @include img('solution/retail/solve-#{$i}.png');
        }
      }

      h5 {
        color: #3071b9;
      }
    }
  }
}

.retail-solution_overview_mobile {
  @include section-long;
  @include bg_desktop('solution/retail/bg-mobile.jpg');
  @include bg_mobile('solution/retail/bg-mobile_mobile.jpg');
  @extend %square-block;

  > article > figure {
    @include tablet-7inch {
      float: right;
    }
  }
  color: white;
  $color: #00b9ef;

  hgroup em {
    color: $color;
  }

  ol {
    @include list-grid-4_desktop;
    @include list-grid-3_mobile;
    max-width: inherit;

    li {
      picture {
        background-color: $color;
      }
      $color: white;

      &:nth-child(1) img {
        @include svg_payment($color);
      }

      &:nth-child(2) img {
        @include svg_multivariate($color);
      }

      &:nth-child(3) img {
        @include svg_invoice($color);
      }
    }
  }

  a[data-type="button"] {
    @extend %button-light;
  }
}

.retail-solution_overview_counter {
  @include section-long;
  @include bg_desktop('solution/retail/bg-counter.jpg');
  @include bg_mobile('solution/retail/bg-counter_mobile.jpg');
  @extend %square-block;

  > article > figure {
    @include tablet-7inch {
      float: right;
    }
  }
  color: $black;
  $color: #3071b9;

  hgroup em {
    color: $color;
  }

  ol {
    @include list-grid-4_desktop;
    @include list-grid-3_mobile;
    max-width: inherit;

    li {
      picture {
        background-color: $color;
      }
      $color: white;

      &:nth-child(1) img {
        @include svg_pos($color);
      }

      &:nth-child(2) img {
        @include svg_monitor($color);
      }

      &:nth-child(3) img {
        @include svg_tickets($color);
      }
    }
  }

  a[data-type="button"] {
    @extend %button-dark;
  }
}

.retail-solution_overview_backstage {
  @include section-long;
  @include bg_desktop('_global/bg-cloud.jpg');
  @include bg_mobile('_global/bg-cloud_mobile.jpg');
  @extend %square-block;

  > article > figure {
    @include tablet-7inch {
      float: right;
    }
  }
  color: $black;
  $color: #3071b9;

  hgroup em {
    color: $color;
  }

  ol {
    @include list-grid-4_desktop;
    @include list-grid-3_mobile;
    max-width: inherit;

    li {
      picture {
        background-color: $color;
      }
      $color: white;

      &:nth-child(1) img {
        @include svg_analysis($color);
      }

      &:nth-child(2) img {
        @include svg_management-store($color);
      }

      &:nth-child(3) img {
        @include svg_member($color);
      }
    }
  }

  a[data-type="button"] {
    @extend %button-dark;
  }
}

.retail-solution_overview_feature {
  .webmenu {
    display: none;
  }
}
